AI Aliens - Image Pipeline (1).json
{
  "name": "AI Aliens - Image Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        1408
      ],
      "id": "9e960b36-e74b-4994-b71b-05ba7a65193f",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=143205348"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Style_Approved"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        1312
      ],
      "id": "a86506af-9169-4b87-9551-3a7a5024cf8c",
      "name": "Get Style_Approved Locations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=143205348"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Images_Review"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        1504
      ],
      "id": "077ada1f-02ce-4997-bf9a-f83b72fdd3c4",
      "name": "Get Images_Review Locations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -96,
        1408
      ],
      "id": "abc0e729-3bb9-47f0-b885-4b4a65795add",
      "name": "Wait for Both"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from merged inputs - filter by Status field\nconst allItems = $input.all().map(i => i.json);\n\nconst styleApproved = allItems.filter(i => i.Location_ID && i.Status === 'Style_Approved');\nconst imagesReview = allItems.filter(i => i.Location_ID && i.Status === 'Images_Review');\n\n// Check for error condition: both have locations\nif (styleApproved.length > 0 && imagesReview.length > 0) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'multiple_states',\n      message: `Found ${styleApproved.length} location(s) at Style_Approved AND ${imagesReview.length} location(s) at Images_Review. This should not happen.`,\n      styleApprovedLocations: styleApproved.map(l => l.Name),\n      imagesReviewLocations: imagesReview.map(l => l.Name)\n    }\n  }];\n}\n\n// Check for multiple locations in same state\nif (styleApproved.length > 1) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'multiple_locations',\n      message: `Found ${styleApproved.length} locations at Style_Approved. Only one location should be processed at a time.`,\n      locations: styleApproved.map(l => l.Name)\n    }\n  }];\n}\n\nif (imagesReview.length > 1) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'multiple_locations',\n      message: `Found ${imagesReview.length} locations at Images_Review. Only one location should be processed at a time.`,\n      locations: imagesReview.map(l => l.Name)\n    }\n  }];\n}\n\n// No locations found\nif (styleApproved.length === 0 && imagesReview.length === 0) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'no_location',\n      message: 'No eligible location found. Need a location with Status = Style_Approved or Images_Review.'\n    }\n  }];\n}\n\n// Single location found - determine run type\nconst location = styleApproved.length > 0 ? styleApproved[0] : imagesReview[0];\nconst runType = styleApproved.length > 0 ? 'initial' : 'redo_check';\n\n// Sanitize location name for Content_ID (replace spaces with underscores)\nconst sanitizedName = location.Name.replace(/\\s+/g, '_');\n\nreturn [{\n  json: {\n    error: false,\n    runType: runType,\n    location: location,\n    sanitizedName: sanitizedName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1408
      ],
      "id": "8438302d-782b-4460-8496-490847fdaba0",
      "name": "Evaluate Locations"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        1408
      ],
      "id": "2f9d7df1-fc6d-44fb-9aea-390a67d97745",
      "name": "IF Error"
    },
    {
      "parameters": {
        "fromEmail": "richiecoy@gmail.com",
        "toEmail": "richiecoy@gmail.com",
        "subject": "=AI Aliens Image Pipeline - Error",
        "html": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        1312
      ],
      "id": "f26a8d7f-289b-4842-b782-3b2de9d5ad22",
      "name": "Email - Error",
      "webhookId": "ab5a6093-18ed-4245-9369-23bfb8d4d12a",
      "credentials": {
        "smtp": {
          "id": "8alovuwdyCQhOA4Q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "initial-run-check",
              "leftValue": "={{ $json.runType }}",
              "rightValue": "initial",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        1648
      ],
      "id": "ebd7e206-63b1-447e-bc8e-c05eb836b974",
      "name": "IF Initial Run"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344220938,
          "mode": "list",
          "cachedResultName": "Spots"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $json.location.Location_ID }}"
            },
            {
              "lookupColumn": "Used",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        1024
      ],
      "id": "6c09c5fd-0c94-4cf0-80ff-4d2f56c6c37c",
      "name": "Get Spots",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 799174727,
          "mode": "list",
          "cachedResultName": "Foods"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').item.json.location.Location_ID }}"
            },
            {
              "lookupColumn": "Used",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        1024
      ],
      "id": "6231f96e-25f4-426f-bbed-c44b79e0fbe6",
      "name": "Get Foods",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1152854344,
          "mode": "list",
          "cachedResultName": "Dialogue"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').item.json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1024
      ],
      "id": "811ab29a-c39a-4035-9d2f-4fafc7215172",
      "name": "Get Dialogue",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1443649801,
          "mode": "list",
          "cachedResultName": "Jokes"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Posted",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        1024
      ],
      "id": "7a855bbd-b17b-4d0f-944e-73e0018cf86d",
      "name": "Get Jokes",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1434410303,
          "mode": "list",
          "cachedResultName": "Pools"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Pool_Type",
              "lookupValue": "time_of_day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        1024
      ],
      "id": "a8c1a666-f6b4-4590-aa44-8cbf13b7c532",
      "name": "Get Time of Day",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1434410303,
          "mode": "list",
          "cachedResultName": "Pools"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Pool_Type",
              "lookupValue": "laugh_style"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        1024
      ],
      "id": "c64e41cb-bf92-4e5c-bcdd-d879b6be5383",
      "name": "Get Laugh Styles",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==== INPUTS ====\nconst evalData = $('IF Initial Run').first().json;\nconst loc = evalData.location;\nconst sanitizedName = evalData.sanitizedName;\nconst spots = $('Get Spots').all().map(item => item.json);\nconst foods = $('Get Foods').all().map(item => item.json);\nconst dialogue = $('Get Dialogue').first().json;\nconst jokes = $('Get Jokes').all().map(item => item.json);\nconst timesOfDay = $('Get Time of Day').all().map(item => item.json.Value);\nconst laughStyles = $('Get Laugh Styles').all().map(item => item.json.Value);\nconst allActivities = $('Get Photo Activities').all().map(item => item.json);\n\n// ==== HELPERS ====\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction pickMultiple(arr, count) {\n  const shuffled = [...arr].sort(() => 0.5 - Math.random());\n  return shuffled.slice(0, count);\n}\n\nfunction getTimeSettings(timeOfDay) {\n  const isNight = ['dusk', 'night'].includes(timeOfDay);\n  return {\n    timeOfDay,\n    isNight,\n    sky: isNight ? loc.Sky_Night : loc.Sky_Day,\n    lighting: isNight ? loc.Lighting_Night : loc.Lighting_Day,\n    ambient: isNight ? loc.Ambient_Night : loc.Ambient_Day\n  };\n}\n\nfunction getResponderLine(setup) {\n  const trimmed = setup.trim().toLowerCase();\n  if (trimmed.startsWith(\"why\")) return \"Why?\";\n  if (trimmed.startsWith(\"what\")) return \"What?\";\n  if (trimmed.startsWith(\"how\")) return \"How?\";\n  if (trimmed.startsWith(\"did\")) return \"No?\";\n  if (trimmed.startsWith(\"have you\")) return \"No?\";\n  if (trimmed.endsWith(\"?\")) return pick([\"Huh?\", \"What?\", \"Yeah?\"]);\n  return pick([\"You did?\", \"Really?\", \"Go on...\", \"Wait—what?\"]);\n}\n\n// ==== FILTER ACTIVITIES BY TYPE ====\nconst introActivities = allActivities.filter(a => a.Activity_Type === 'intro');\nconst jokeActivities = allActivities.filter(a => a.Activity_Type === 'joke');\nconst reviewActivities = allActivities.filter(a => a.Activity_Type === 'review');\nconst generalActivities = allActivities.filter(a => a.Activity_Type === 'general');\nconst foodActivities = allActivities.filter(a => a.Activity_Type === 'food');\n\n// ==== CHARACTER DEFINITIONS ====\nconst gorb = {\n  id: 'GORB (grey alien, blue eyes, black \"I love humans\" t-shirt)',\n  description: 'a grey alien with a large bulbous head, big expressive blue eyes, wearing a black t-shirt with \"I love humans\" text and a red heart, khaki cargo shorts, white crew socks, and worn grey sneakers',\n  voice: 'Male high-pitched, eager, slightly nasally, speaks with childlike enthusiasm'\n};\n\nconst pleck = {\n  id: 'PLECK (grey-green alien, amber eyes, Hawaiian shirt)',\n  description: 'a grey-green alien with a large bulbous head, big expressive amber-orange eyes, wearing a dark tropical Hawaiian shirt with pink and green floral pattern, dark grey jeans, and black Converse-style sneakers',\n  voice: 'Male low, dry, deadpan delivery, slight exasperation'\n};\n\n// ==== FILTER SPOTS BY TYPE ====\nconst landingZone = spots.find(s => s.Spot_Type === 'landing_zone');\nconst foodVendors = spots.filter(s => s.Spot_Type === 'food_vendor');\nconst genericSpots = spots.filter(s => !['landing_zone', 'food_vendor'].includes(s.Spot_Type));\n\n// ==== SELECT SPOTS FOR CONTENT ====\nconst selectedJokeSpots = pickMultiple(genericSpots, 2);\nconst remainingGeneric = genericSpots.filter(s => !selectedJokeSpots.includes(s));\nconst selectedSnapshotSpots = pickMultiple(remainingGeneric, 8);\nconst selectedFoodSpots = pickMultiple(foodVendors, 2);\nconst reviewSpot = pick(remainingGeneric.filter(s => !selectedSnapshotSpots.includes(s)));\n\n// ==== SELECT OTHER ELEMENTS ====\nconst selectedJokes = jokes.slice(0, 2);\nconst selectedFoods = foods.slice(0, 2);\nconst selectedGeneralActivities = pickMultiple(generalActivities, 8);\nconst selectedFoodActivities = pickMultiple(foodActivities, 2);\n\n// ==== BUILD PROMPT FUNCTION ====\nfunction buildImagePrompt(spot, activity, timeOfDay, aspectRatio) {\n  const time = getTimeSettings(timeOfDay);\n  \n  return `Photorealistic 3D CGI render. ${loc.Name} — ${loc.Description}\n\n${spot.Spot_Description}\n\n${gorb.id} and ${pleck.id}: ${activity.Activity}. ${activity.Framing}.\n\n${time.sky}. ${time.lighting}.\n\nVertical ${aspectRatio} composition.`;\n}\n\n// ==== BUILD CONTENT ITEMS ====\nconst contentItems = [];\n\n// INTRO\nconst introActivity = pick(introActivities);\nconst introTime = pick(timesOfDay.filter(t => !['dusk', 'night'].includes(t)));\nconst introTimeSettings = getTimeSettings(introTime);\n\ncontentItems.push({\n  contentId: `${sanitizedName}_intro`,\n  contentType: 'intro',\n  spotId: landingZone.Spot_ID,\n  foodId: null,\n  jokeId: null,\n  timeOfDay: introTime,\n  imagePrompt: buildImagePrompt(landingZone, introActivity, introTime, '9:16'),\n  aspectRatio: '9:16',\n  videoPrompt1: `Two alien tourists at ${landingZone.Spot_Description}. GORB: ${gorb.description}. Voice: ${gorb.voice}. PLECK: ${pleck.description}. Silent this clip. ${introTimeSettings.lighting}. ${loc.Camera_Angle}.\n\n${introActivity.Activity} Gorb says: \"${dialogue.Arrival_Gorb}\" Pleck stands beside, observing silently.\n\nAudio: ${introTimeSettings.ambient || loc.Ambient_Day}. No subtitles. Buddy-comedy vibe.`,\n  videoPrompt2: `Two alien tourists at ${landingZone.Spot_Description}. GORB: ${gorb.description}. Voice: ${gorb.voice}. PLECK: ${pleck.description}. Voice: ${pleck.voice}. ${introTimeSettings.lighting}. ${loc.Camera_Angle}.\n\nPleck says: \"${dialogue.Arrival_Pleck}\" Gorb looks concerned, then reassuring and says: \"${dialogue.Arrival_Gorb_Response}\" Pleck sighs, reluctantly follows.\n\nAudio: ${introTimeSettings.ambient || loc.Ambient_Day}. No subtitles. Buddy-comedy vibe.`\n});\n\n// JOKES (2)\nfor (let i = 0; i < 2; i++) {\n  const joke = selectedJokes[i];\n  const spot = selectedJokeSpots[i];\n  const activity = pick(jokeActivities);\n  const time = pick(timesOfDay);\n  const timeSettings = getTimeSettings(time);\n  const laugh = pick(laughStyles);\n  const responderLine = getResponderLine(joke.Setup);\n\n  contentItems.push({\n    contentId: `${sanitizedName}_joke_0${i + 1}`,\n    contentType: `joke_0${i + 1}`,\n    spotId: spot.Spot_ID,\n    foodId: null,\n    jokeId: joke.Joke_ID,\n    jokeSetup: joke.Setup,\n    jokePunchline: joke.Punchline,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '9:16'),\n    aspectRatio: '9:16',\n    videoPrompt: `Two alien tourists at ${spot.Spot_Description}. GORB: ${gorb.description}. Voice: ${gorb.voice}. PLECK: ${pleck.description}. Voice: ${pleck.voice}. ${timeSettings.lighting}. ${loc.Camera_Angle}.\n\nGorb says: \"${joke.Setup}\" Pleck replies: \"${responderLine}\" Gorb delivers the punchline: \"${joke.Punchline}\" Both aliens ${laugh}.\n\nAudio: ${timeSettings.ambient || loc.Ambient_Day}. No subtitles. Buddy-comedy vibe.`\n  });\n}\n\n// SNAPSHOTS 1-4 (general)\nfor (let i = 0; i < 4; i++) {\n  const spot = selectedSnapshotSpots[i];\n  const activity = selectedGeneralActivities[i];\n  const time = pick(timesOfDay);\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_0${i + 1}`,\n    contentType: `snapshot_0${i + 1}`,\n    spotId: spot.Spot_ID,\n    foodId: null,\n    jokeId: null,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '4:5'),\n    aspectRatio: '4:5'\n  });\n}\n\n// SNAPSHOT 5 (food)\n{\n  const spot = selectedFoodSpots[0];\n  const food = selectedFoods[0];\n  const activity = selectedFoodActivities[0];\n  const time = pick(timesOfDay);\n\n  const foodActivity = {\n    ...activity,\n    Activity: `${activity.Activity}. They are eating ${food.Food_Name}: ${food.Food_Description}`\n  };\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_05`,\n    contentType: 'snapshot_05',\n    spotId: spot.Spot_ID,\n    foodId: food.Food_ID,\n    jokeId: null,\n    foodName: food.Food_Name,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, foodActivity, time, '4:5'),\n    aspectRatio: '4:5'\n  });\n}\n\n// SNAPSHOTS 6-9 (general)\nfor (let i = 4; i < 8; i++) {\n  const spot = selectedSnapshotSpots[i];\n  const activity = selectedGeneralActivities[i];\n  const time = pick(timesOfDay);\n  const snapshotNum = i + 2;\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_0${snapshotNum}`,\n    contentType: `snapshot_0${snapshotNum}`,\n    spotId: spot.Spot_ID,\n    foodId: null,\n    jokeId: null,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '4:5'),\n    aspectRatio: '4:5'\n  });\n}\n\n// SNAPSHOT 10 (food)\n{\n  const spot = selectedFoodSpots[1];\n  const food = selectedFoods[1];\n  const activity = selectedFoodActivities[1];\n  const time = pick(timesOfDay);\n\n  const foodActivity = {\n    ...activity,\n    Activity: `${activity.Activity}. They are eating ${food.Food_Name}: ${food.Food_Description}`\n  };\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_10`,\n    contentType: 'snapshot_10',\n    spotId: spot.Spot_ID,\n    foodId: food.Food_ID,\n    jokeId: null,\n    foodName: food.Food_Name,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, foodActivity, time, '4:5'),\n    aspectRatio: '4:5'\n  });\n}\n\n// REVIEW\nconst reviewActivity = pick(reviewActivities);\nconst reviewTime = pick(timesOfDay);\nconst reviewTimeSettings = getTimeSettings(reviewTime);\n\ncontentItems.push({\n  contentId: `${sanitizedName}_review`,\n  contentType: 'review',\n  spotId: reviewSpot.Spot_ID,\n  foodId: null,\n  jokeId: null,\n  timeOfDay: reviewTime,\n  imagePrompt: buildImagePrompt(reviewSpot, reviewActivity, reviewTime, '9:16'),\n  aspectRatio: '9:16',\n  videoPromptGorb: `Two alien tourists at ${reviewSpot.Spot_Description}. GORB: ${gorb.description}. Voice: ${gorb.voice}. PLECK: ${pleck.description}. Silent this clip. ${reviewTimeSettings.lighting}. ${loc.Camera_Angle}.\n\nGorb looks at camera enthusiastically and says: \"${dialogue.Review_Gorb}\" Pleck stands beside with arms crossed, rolling eyes.\n\nAudio: ${reviewTimeSettings.ambient || loc.Ambient_Day}. No subtitles. Buddy-comedy vibe.`,\n  videoPromptPleck: `Two alien tourists at ${reviewSpot.Spot_Description}. GORB: ${gorb.description}. Silent this clip. PLECK: ${pleck.description}. Voice: ${pleck.voice}. ${reviewTimeSettings.lighting}. ${loc.Camera_Angle}.\n\nPleck looks at camera with deadpan expression and says: \"${dialogue.Review_Pleck}\" Gorb stands beside, looking disappointed at Pleck's review.\n\nAudio: ${reviewTimeSettings.ambient || loc.Ambient_Day}. No subtitles. Buddy-comedy vibe.`\n});\n\nconst usedSpotIds = [\n  landingZone.Spot_ID,\n  ...selectedJokeSpots.map(s => s.Spot_ID),\n  ...selectedSnapshotSpots.map(s => s.Spot_ID),\n  ...selectedFoodSpots.map(s => s.Spot_ID),\n  reviewSpot.Spot_ID\n];\nconst usedFoodIds = selectedFoods.map(f => f.Food_ID);\nconst usedJokeIds = selectedJokes.map(j => j.Joke_ID);\n\nreturn [{\n  json: {\n    locationId: loc.Location_ID,\n    locationName: loc.Name,\n    sanitizedName: sanitizedName,\n    contentItems: contentItems,\n    usedSpotIds: usedSpotIds,\n    usedFoodIds: usedFoodIds,\n    usedJokeIds: usedJokeIds,\n    totalItems: contentItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        1024
      ],
      "id": "e1077e4e-6324-417d-972c-7683bcc4be7a",
      "name": "Generate Prompts (Initial)"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst snapshotContext = data.contentItems\n  .filter(item => item.contentType.startsWith('snapshot'))\n  .map(item => `- ${item.contentType}: ${item.activity}${item.foodName ? ' with ' + item.foodName : ''}`)\n  .join('\\n');\n\nconst prompt = `Generate titles and captions for these content pieces. Return JSON only, no markdown.\nLocation: ${data.locationName}\nContent items:\n${data.contentItems.map(item => `- ${item.contentId} (${item.contentType})`).join('\\n')}\nFor each item, generate:\n- title: Short, catchy title for video content (intro, jokes, review only - leave blank for snapshots)\n- caption: Instagram caption with personality, 1-2 sentences, include 2-3 relevant hashtags\n\nAlso generate 10 polaroid captions (max 25 chars, casual tourist scribble like \"Wish you were here!\" or \"Pleck almost smiled!\"):\n${snapshotContext}\n\nReturn as JSON array:\n[{\"contentId\": \"...\", \"title\": \"...\", \"caption\": \"...\"}, {\"contentId\": \"polaroid_01\", \"caption\": \"...\"}, {\"contentId\": \"polaroid_02\", \"caption\": \"...\"}, ...]`;\n\nreturn [{\n  json: {\n    ...data,\n    claudePrompt: prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        1024
      ],
      "id": "c060dac6-ba75-4cb7-98dc-ec6ba3b841e6",
      "name": "Build Claude Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.claudePrompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        1024
      ],
      "id": "3fedfd8e-515d-4127-b040-4f7be563a792",
      "name": "Generate Titles & Captions (Claude)"
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\n\nconst text = response.content[0].text;\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse Claude response: ${e.message}`);\n}\n\nconst contentItems = prevData.contentItems.map(item => {\n  const match = parsed.find(p => p.contentId === item.contentId);\n  \n  // Get polaroid caption for snapshots\n  let polaroidCaption = '';\n  if (item.contentType.startsWith('snapshot_')) {\n    const num = item.contentType.replace('snapshot_', '');\n    const polaroid = parsed.find(p => p.contentId === `polaroid_${num}`);\n    polaroidCaption = polaroid?.caption || '';\n  }\n  \n  return {\n    ...item,\n    title: match?.title || '',\n    caption: match?.caption || '',\n    polaroidCaption: polaroidCaption\n  };\n});\n\nreturn [{\n  json: {\n    ...prevData,\n    contentItems: contentItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        1024
      ],
      "id": "80bc6d41-8805-484d-acb1-ad9e2c86bccc",
      "name": "Parse Claude Response"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 2063911436,
          "mode": "list",
          "cachedResultName": "Photo_Activities"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        1024
      ],
      "id": "309cc0c1-827a-4cca-9555-7ad0902c1271",
      "name": "Get Photo Activities",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn data.contentItems.map(item => ({\n  json: {\n    Content_ID: item.contentId,\n    Location_ID: data.locationId,\n    Content_Type: item.contentType,\n    Spot_ID: item.spotId || '',\n    Food_ID: item.foodId || '',\n    Joke_ID: item.jokeId || '',\n    Title: item.title || '',\n    Caption: item.caption || '',\n    Polaroid_Caption: item.polaroidCaption || '',\n    Video_Prompt_1: item.videoPrompt1 || item.videoPrompt || item.videoPromptGorb || '',\n    Video_Prompt_2: item.videoPrompt2 || item.videoPromptPleck || '',\n    Image_Status: 'Pending',\n    Video_Status: ['intro', 'joke_01', 'joke_02', 'review'].includes(item.contentType) ? 'Pending' : 'N/A',\n    imagePrompt: item.imagePrompt,\n    aspectRatio: item.aspectRatio,\n    usedSpotIds: data.usedSpotIds,\n    usedFoodIds: data.usedFoodIds,\n    usedJokeIds: data.usedJokeIds,\n    locationId: data.locationId,\n    sanitizedName: data.sanitizedName\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        1024
      ],
      "id": "aceefee1-254d-4b1b-a892-e49d0a095043",
      "name": "Split Content Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=1192648937"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Location_ID": "={{ $json.Location_ID }}",
            "Content_Type": "={{ $json.Content_Type }}",
            "Spot_ID": "={{ $json.Spot_ID }}",
            "Food_ID": "={{ $json.Food_ID }}",
            "Joke_ID": "={{ $json.Joke_ID }}",
            "Title": "={{ $json.Title }}",
            "Caption": "={{ $json.Caption }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "Video_Status": "={{ $json.Video_Status }}",
            "Polaroid_Caption": "={{ $json.Polaroid_Caption }}",
            "Video_Prompt_1": "={{ $json.Video_Prompt_1 }}",
            "Video_Prompt_2": "={{ $json.Video_Prompt_2 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Joke_ID",
              "displayName": "Joke_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt_1",
              "displayName": "Video_Prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt_2",
              "displayName": "Video_Prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3488,
        1024
      ],
      "id": "9241fca1-15ef-4d2d-b8fd-d4eb8128be8e",
      "name": "Create Content Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Claude Response').first().json;\n\nconst spotUpdates = data.usedSpotIds.map(id => ({\n  json: { Spot_ID: id, Used: 'Yes' }\n}));\n\nconst foodUpdates = data.usedFoodIds.map(id => ({\n  json: { Food_ID: id, Used: 'Yes' }\n}));\n\nconst jokeUpdates = data.usedJokeIds.map(id => ({\n  json: { Joke_ID: id, Posted: 'Yes' }\n}));\n\nreturn [{\n  json: {\n    spotUpdates,\n    foodUpdates,\n    jokeUpdates,\n    contentItems: data.contentItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        1024
      ],
      "id": "853d2efd-c7c3-4559-a24a-a913163572bf",
      "name": "Prepare Used Updates"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.spotUpdates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        800
      ],
      "id": "482daf14-fffc-42d1-9e60-1351d8cc13f5",
      "name": "Extract Spot Updates"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344220938,
          "mode": "list",
          "cachedResultName": "Spots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Used": "={{ $json.Used }}",
            "row_number": 0,
            "Spot_ID": "={{ $json.Spot_ID }}"
          },
          "matchingColumns": [
            "Spot_ID"
          ],
          "schema": [
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spot_Type",
              "displayName": "Spot_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spot_Description",
              "displayName": "Spot_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4160,
        800
      ],
      "id": "33525668-8fc8-4042-9c12-bb7ed19994ba",
      "name": "Mark Spots Used",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Used Updates').first().json;\nreturn data.foodUpdates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        1120
      ],
      "id": "bb7e7948-d492-4266-9387-983e8a2f10e7",
      "name": "Extract Food Updates"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 799174727,
          "mode": "list",
          "cachedResultName": "Foods"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Used": "={{ $json.Used }}",
            "row_number": 0,
            "Food_ID": "={{ $json.Food_ID }}"
          },
          "matchingColumns": [
            "Food_ID"
          ],
          "schema": [
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Food_Name",
              "displayName": "Food_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Food_Description",
              "displayName": "Food_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4160,
        1120
      ],
      "id": "6d360bf7-40d0-4870-ac24-16f3fefa0fa2",
      "name": "Mark Foods Used",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Used Updates').first().json;\nreturn data.jokeUpdates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        1376
      ],
      "id": "702619a5-236a-4de4-afd7-e6b030820a72",
      "name": "Extract Joke Updates"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1443649801,
          "mode": "list",
          "cachedResultName": "Jokes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Posted": "={{ $json.Posted }}",
            "row_number": 0,
            "Joke_ID": "={{ $json.Joke_ID }}"
          },
          "matchingColumns": [
            "Joke_ID"
          ],
          "schema": [
            {
              "id": "Joke_ID",
              "displayName": "Joke_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Setup",
              "displayName": "Setup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Punchline",
              "displayName": "Punchline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4160,
        1376
      ],
      "id": "9db567ef-e1a4-40d9-8a9d-340029b7a113",
      "name": "Mark Jokes Posted",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4384,
        896
      ],
      "name": "Wait for Marks",
      "id": "ef69999b-9660-4fca-ae1f-3f8d6899153f"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Parse Claude Response').first().json.locationId }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE",
            "mode": "list",
            "cachedResultName": "Content",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4608,
        912
      ],
      "name": "Search Location Folder",
      "alwaysOutputData": true,
      "id": "efd06a6a-51b3-4f55-a6bd-b681c98ee214",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Claude Response').first().json;\n\nconst contentItems = data.contentItems.map(item => ({\n  contentType: item.contentType,\n  contentId: item.contentId,\n  filename: `${item.contentId}.png`,\n  spotId: item.spotId || null,\n  foodId: item.foodId || null,\n  jokeId: item.jokeId || null,\n  prompt: item.imagePrompt,\n  aspectRatio: item.aspectRatio,\n  nanoBananaPayload: {\n    model: 'nano-banana-pro',\n    input: {\n      prompt: item.imagePrompt,\n      image_input: [\n        'https://drive.google.com/uc?export=view&id=1pH63y7S_m9n7VW0xgV-_9KQ7Bbgt0acy',\n        'https://drive.google.com/uc?export=view&id=1fTadAxxCe8Oz2z4OHRrMxOr6-hUHUD-z'\n      ],\n      aspect_ratio: item.aspectRatio,\n      resolution: '1K',\n      output_format: 'png'\n    }\n  }\n}));\n\nreturn [{\n  json: {\n    locationId: data.locationId,\n    locationName: data.locationName,\n    sanitizedName: data.sanitizedName,\n    contentItems: contentItems,\n    totalImages: contentItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        912
      ],
      "name": "Prepare Image Generation",
      "id": "380d8c14-3cd5-4e54-90e8-634304667dc0"
    },
    {
      "parameters": {
        "fieldToSplitOut": "contentItems",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5056,
        912
      ],
      "name": "Split Images",
      "id": "4b10f37c-9f74-4667-852a-a0742ac4c4ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.contentItems.nanoBananaPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5280,
        912
      ],
      "name": "Generate Image",
      "id": "29560563-db46-41e8-8089-34da5e1296cf",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Split Images').item.json.contentItems;\n\nreturn {\n  json: {\n    ...imageData,\n    taskId: $input.item.json.data.taskId,\n    imageStartTime: Date.now()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        912
      ],
      "name": "Set Image Start Time",
      "id": "2f3b367f-32e2-4858-b3e8-226d433edf31"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nreturn {\n  json: {\n    contentType: item.contentType,\n    contentId: item.contentId,\n    filename: item.filename,\n    prompt: item.prompt,\n    aspectRatio: item.aspectRatio,\n    taskId: item.taskId,\n    imageStartTime: item.imageStartTime,\n    spotId: item.spotId,\n    foodId: item.foodId,\n    jokeId: item.jokeId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5728,
        912
      ],
      "name": "Prep Status Check",
      "id": "d094e584-8902-4ec8-9891-29ef32f6668d"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5952,
        880
      ],
      "name": "Check Image Status",
      "id": "c0f8d038-dce3-4d61-911c-fdf152f2caf8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const statusResponse = $input.item.json;\nconst state = statusResponse.data.state;\nconst createTime = statusResponse.data.createTime;\nconst elapsed = Date.now() - createTime;\nconst fiveMinutes = 5 * 60 * 1000;\n\nreturn {\n  json: {\n    taskId: statusResponse.data.taskId,\n    status: state,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && state !== 'success',\n    isFailed: state === 'failed',\n    isSuccess: state === 'success',\n    statusResponse: statusResponse.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        880
      ],
      "name": "Merge Status Data",
      "id": "28ed019d-8fa6-4a7a-88a1-dbb561a831b4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6400,
        880
      ],
      "name": "Aggregate Status Results",
      "id": "70fb3ead-ca3e-48b9-bda5-e098da6338a1"
    },
    {
      "parameters": {
        "jsCode": "const statusItems = $input.first().json.items;\nconst originalItems = $('Set Image Start Time').all().map(i => i.json);\n\nconst items = statusItems.map(status => {\n  const original = originalItems.find(o => o.taskId === status.taskId);\n  const elapsed = original ? Date.now() - original.imageStartTime : 0;\n  const fiveMinutes = 5 * 60 * 1000;\n  \n  return {\n    ...status,\n    ...original,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && status.status !== 'success'\n  };\n});\n\nconst successCount = items.filter(i => i.isSuccess).length;\nconst failedItems = items.filter(i => i.isFailed);\nconst timedOutItems = items.filter(i => i.isTimedOut && !i.isFailed);\nconst pendingItems = items.filter(i => !i.isSuccess && !i.isFailed && !i.isTimedOut);\n\nreturn [{\n  json: {\n    allSuccess: successCount === items.length,\n    anyFailed: failedItems.length > 0,\n    anyTimedOut: timedOutItems.length > 0,\n    totalItems: items.length,\n    successCount,\n    failedCount: failedItems.length,\n    timedOutCount: timedOutItems.length,\n    pendingCount: pendingItems.length,\n    failedItems,\n    timedOutItems,\n    items\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        880
      ],
      "name": "Evaluate All Statuses",
      "id": "f2b197af-051c-4485-99aa-f844c3a0ef19"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst resultJson = JSON.parse(item.statusResponse.resultJson);\nconst imageUrl = resultJson.resultUrls[0];\n\nreturn {\n  json: {\n    ...item,\n    imageUrl: imageUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7744,
        832
      ],
      "name": "Prep Download",
      "id": "0e859b2e-7edf-4bc0-a206-6050891c4f7c"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7968,
        832
      ],
      "name": "Download Image",
      "id": "a6f41661-adde-4103-a401-d0b199bd4840"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search Location Folder').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8192,
        832
      ],
      "name": "Upload Image to Drive",
      "id": "c2496e8e-ea9b-48cb-834b-41bf08400a53",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Prep Download').item.json;\nconst uploadResult = $json;\n\nreturn {\n  json: {\n    contentId: imageData.contentId,\n    contentType: imageData.contentType,\n    filename: imageData.filename,\n    spotId: imageData.spotId || null,\n    foodId: imageData.foodId || null,\n    jokeId: imageData.jokeId || null,\n    driveId: uploadResult.id,\n    driveUrl: `https://drive.google.com/uc?export=view&id=${uploadResult.id}`,\n    webViewLink: uploadResult.webViewLink\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8416,
        832
      ],
      "name": "Collect Image Result",
      "id": "70471f9c-4ad0-4554-b556-ff0481a0403e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nreturn {\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Review',\n    Drive_ID: item.driveId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8640,
        832
      ],
      "name": "Prep Content Update",
      "id": "5f664470-f305-4d0c-a274-ad89df1a2b50"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Joke_ID",
              "displayName": "Joke_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8864,
        832
      ],
      "name": "Update Content - Review",
      "id": "535271d4-e0a2-40c2-9808-8fc5c9575b3f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const locationId = $('Parse Claude Response').first().json.locationId;\n\nreturn [{\n  json: {\n    Location_ID: locationId,\n    Status: 'Images_Review'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9312,
        1072
      ],
      "name": "Prep Location Update",
      "id": "290b23d2-97b9-41e9-b365-3fc79fc18aa4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location_ID": "={{ $json.Location_ID }}",
            "Status": "={{ $json.Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Location_ID"
          ],
          "schema": [
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather",
              "displayName": "Weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Color_Palette",
              "displayName": "Color_Palette",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camera_Angle",
              "displayName": "Camera_Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Day",
              "displayName": "Sky_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Night",
              "displayName": "Sky_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Day",
              "displayName": "Lighting_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Night",
              "displayName": "Lighting_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Day",
              "displayName": "Ambient_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Night",
              "displayName": "Ambient_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Music",
              "displayName": "Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9536,
        1072
      ],
      "name": "Update Location - Images_Review",
      "id": "4b73c9a0-3a7c-416d-a318-376fdbeb586f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "richiecoy@gmail.com",
        "toEmail": "richiecoy@gmail.com",
        "subject": "=AI Aliens - Images Ready for Review",
        "html": "=Images generated for {{ $('Parse Claude Response').first().json.locationName }}.<br><br>Total images: 14<br><br>Review and approve in the Content tab.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        9760,
        1072
      ],
      "name": "Email - Images Ready",
      "id": "6538cb33-dc9e-4255-ac1e-e34f8f9021e9",
      "webhookId": "6ff82fbf-df90-4b87-a2d2-110339f2c095",
      "credentials": {
        "smtp": {
          "id": "8alovuwdyCQhOA4Q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "still-pending",
              "leftValue": "={{ $json.pendingCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6848,
        880
      ],
      "name": "IF (Still Pending)",
      "id": "da353497-6f5e-435e-8677-50865e43be37"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        640
      ],
      "name": "Extract All Items",
      "id": "e409888b-8a05-4c12-84de-45e20473b6ed"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7296,
        720
      ],
      "name": "Wait 30s",
      "webhookId": "batch-wait-webhook",
      "id": "8f4f021b-7187-4918-97cd-e3883f0ae0fd"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst successful = data.items.filter(i => \n  i.isSuccess && \n  i.statusResponse.resultJson && \n  i.statusResponse.resultJson !== ''\n);\n\nconst failed = data.items.filter(i => \n  i.isFailed || \n  i.isTimedOut || \n  !i.statusResponse.resultJson || \n  i.statusResponse.resultJson === ''\n);\n\nreturn [{\n  json: {\n    successful,\n    failed,\n    successCount: successful.length,\n    failedCount: failed.length,\n    totalItems: data.items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        976
      ],
      "name": "Split by Success",
      "id": "484a1a33-eda3-4fda-8f44-2f8f8b6d0b84"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-successful",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7296,
        912
      ],
      "name": "IF (Any Successful)",
      "id": "69bf4dfd-d168-4bcc-853c-bc7cdbfb1f5d"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success').first().json;\nreturn data.successful.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        832
      ],
      "name": "Extract Successful",
      "id": "ae73c4d2-0e36-4592-a80f-1027e949cc7f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-failed",
              "leftValue": "={{ $('Split by Success').first().json.failedCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7296,
        1232
      ],
      "name": "IF (Any Failed)",
      "id": "95acf237-a639-4b82-9f2f-0d43a86d48b0"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success').first().json;\nreturn data.failed.map(item => ({\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Redo'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        1152
      ],
      "name": "Prep Failed Updates",
      "id": "aba37b9c-5a45-4267-ab5f-64e10968d1ba"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Joke_ID",
              "displayName": "Joke_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7744,
        1152
      ],
      "name": "Update Content - Redo",
      "id": "1a2bdc56-d64e-4a0f-8621-9e4ba71e3cc5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7968,
        1136
      ],
      "id": "026c107e-e520-48fd-ba50-65d5b04c18cd",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        9088,
        1072
      ],
      "id": "262ad111-6a6f-48e2-96d1-1867289ff684",
      "name": "Merge1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $json.location.Location_ID }}"
            },
            {
              "lookupColumn": "Image_Status",
              "lookupValue": "Redo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        1968
      ],
      "name": "Get Redo Content",
      "id": "17f1c079-57d1-4dc0-82be-b4fb1130c4cd",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').first().json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        1968
      ],
      "name": "Get Location (Redo)",
      "id": "eeb4b6e5-6394-4bce-ab0d-cc815664d1c5",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344220938,
          "mode": "list",
          "cachedResultName": "Spots"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').first().json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1968
      ],
      "name": "Get Spots (Redo)",
      "id": "02e28500-f814-45a7-8116-301052d95ffb",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 799174727,
          "mode": "list",
          "cachedResultName": "Foods"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').first().json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        1968
      ],
      "name": "Get Foods (Redo)",
      "id": "24da945b-0e71-4f31-85c7-58fd6e90b11f",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 2063911436,
          "mode": "list",
          "cachedResultName": "Photo_Activities"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        1968
      ],
      "name": "Get Photo Activities (Redo)",
      "id": "062d3f7c-5cdd-4407-8b7f-abb828f53159",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1434410303,
          "mode": "list",
          "cachedResultName": "Pools"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Pool_Type",
              "lookupValue": "time_of_day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        1968
      ],
      "name": "Get Time of Day (Redo)",
      "id": "a53ffa62-8631-4ce6-9594-53a71afbe89f",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==== INPUTS ====\nconst redoContent = $('Get Redo Content').all().map(item => item.json);\nconst loc = $('Get Location (Redo)').first().json;\nconst spots = $('Get Spots (Redo)').all().map(item => item.json);\nconst foods = $('Get Foods (Redo)').all().map(item => item.json);\nconst allActivities = $('Get Photo Activities (Redo)').all().map(item => item.json);\nconst timesOfDay = $('Get Time of Day (Redo)').all().map(item => item.json.Value);\n\nconst sanitizedName = loc.Name.replace(/\\s+/g, '_');\n\n// ==== HELPERS ====\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction getTimeSettings(timeOfDay) {\n  const isNight = ['dusk', 'night'].includes(timeOfDay);\n  return {\n    timeOfDay,\n    isNight,\n    sky: isNight ? loc.Sky_Night : loc.Sky_Day,\n    lighting: isNight ? loc.Lighting_Night : loc.Lighting_Day\n  };\n}\n\n// ==== FILTER ACTIVITIES BY TYPE ====\nconst introActivities = allActivities.filter(a => a.Activity_Type === 'intro');\nconst jokeActivities = allActivities.filter(a => a.Activity_Type === 'joke');\nconst reviewActivities = allActivities.filter(a => a.Activity_Type === 'review');\nconst generalActivities = allActivities.filter(a => a.Activity_Type === 'general');\nconst foodActivities = allActivities.filter(a => a.Activity_Type === 'food');\n\n// ==== CHARACTER DEFINITIONS ====\nconst gorbId = 'GORB (grey alien, blue eyes, black \"I love humans\" t-shirt)';\nconst pleckId = 'PLECK (grey-green alien, amber eyes, Hawaiian shirt)';\n\n// ==== BUILD PROMPT FUNCTION ====\nfunction buildImagePrompt(spot, activity, timeOfDay, aspectRatio, food = null) {\n  const time = getTimeSettings(timeOfDay);\n  \n  let activityText = activity.Activity;\n  if (food) {\n    activityText += `. They are eating ${food.Food_Name}: ${food.Food_Description}`;\n  }\n  \n  return `Photorealistic 3D CGI render. ${loc.Name} — ${loc.Description}\n\n${spot.Spot_Description}\n\n${gorbId} and ${pleckId}: ${activityText}. ${activity.Framing}.\n\n${time.sky}. ${time.lighting}.\n\nVertical ${aspectRatio} composition.`;\n}\n\n// ==== REBUILD PROMPTS FOR REDO ITEMS ====\nconst contentItems = redoContent.map(item => {\n  const spot = spots.find(s => s.Spot_ID === item.Spot_ID);\n  const food = item.Food_ID ? foods.find(f => f.Food_ID === item.Food_ID) : null;\n  \n  // Pick activity based on content type\n  let activity;\n  let aspectRatio;\n  \n  if (item.Content_Type === 'intro') {\n    activity = pick(introActivities);\n    aspectRatio = '9:16';\n  } else if (item.Content_Type.startsWith('joke')) {\n    activity = pick(jokeActivities);\n    aspectRatio = '9:16';\n  } else if (item.Content_Type === 'review') {\n    activity = pick(reviewActivities);\n    aspectRatio = '9:16';\n  } else if (item.Content_Type === 'snapshot_05' || item.Content_Type === 'snapshot_10') {\n    activity = pick(foodActivities);\n    aspectRatio = '4:5';\n  } else {\n    activity = pick(generalActivities);\n    aspectRatio = '4:5';\n  }\n  \n  // Pick fresh time of day (daytime only for intro)\n  const timeOptions = item.Content_Type === 'intro' \n    ? timesOfDay.filter(t => !['dusk', 'night'].includes(t))\n    : timesOfDay;\n  const timeOfDay = pick(timeOptions);\n  \n  return {\n    contentId: item.Content_ID,\n    contentType: item.Content_Type,\n    spotId: item.Spot_ID,\n    foodId: item.Food_ID || null,\n    jokeId: item.Joke_ID || null,\n    timeOfDay: timeOfDay,\n    imagePrompt: buildImagePrompt(spot, activity, timeOfDay, aspectRatio, food),\n    aspectRatio: aspectRatio\n  };\n});\n\nreturn [{\n  json: {\n    locationId: loc.Location_ID,\n    locationName: loc.Name,\n    sanitizedName: sanitizedName,\n    contentItems: contentItems,\n    totalItems: contentItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        1968
      ],
      "name": "Generate Prompts (Redo)",
      "id": "c38bd362-2845-4b63-b050-93b1cbd101fd"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Generate Prompts (Redo)').first().json;\n\nconst contentItems = data.contentItems.map(item => ({\n  contentType: item.contentType,\n  contentId: item.contentId,\n  filename: `${item.contentId}.png`,\n  spotId: item.spotId || null,\n  foodId: item.foodId || null,\n  jokeId: item.jokeId || null,\n  prompt: item.imagePrompt,\n  aspectRatio: item.aspectRatio,\n  nanoBananaPayload: {\n    model: 'nano-banana-pro',\n    input: {\n      prompt: item.imagePrompt,\n      image_input: [\n        'https://drive.google.com/uc?export=view&id=1pH63y7S_m9n7VW0xgV-_9KQ7Bbgt0acy',\n        'https://drive.google.com/uc?export=view&id=1fTadAxxCe8Oz2z4OHRrMxOr6-hUHUD-z'\n      ],\n      aspect_ratio: item.aspectRatio,\n      resolution: '1K',\n      output_format: 'png'\n    }\n  }\n}));\n\nreturn [{\n  json: {\n    locationId: data.locationId,\n    locationName: data.locationName,\n    sanitizedName: data.sanitizedName,\n    contentItems: contentItems,\n    totalImages: contentItems.length,\n    isRedo: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        1968
      ],
      "name": "Prepare Image Generation (Redo)",
      "id": "180607d1-29db-4638-8777-c25df0ab8197"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.locationId }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE",
            "mode": "list",
            "cachedResultName": "Content",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        1968
      ],
      "name": "Search Location Folder (Redo)",
      "alwaysOutputData": true,
      "id": "dd92085a-72c5-4136-9a0f-dc2bc0a91f5e",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "contentItems",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2816,
        1968
      ],
      "name": "Split Images (Redo)",
      "id": "6ca76b5a-a405-478c-82ef-fe2b5eae97fd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.contentItems.nanoBananaPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3040,
        1968
      ],
      "name": "Generate Image (Redo)",
      "id": "30130d2e-3209-4655-8022-7ad453a28d9f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Split Images (Redo)').item.json.contentItems;\n\nreturn {\n  json: {\n    ...imageData,\n    taskId: $input.item.json.data.taskId,\n    imageStartTime: Date.now()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        1968
      ],
      "name": "Set Image Start Time (Redo)",
      "id": "2e2e5405-3cba-4300-9dc9-4e43af273459"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nreturn {\n  json: {\n    contentType: item.contentType,\n    contentId: item.contentId,\n    filename: item.filename,\n    prompt: item.prompt,\n    aspectRatio: item.aspectRatio,\n    taskId: item.taskId,\n    imageStartTime: item.imageStartTime,\n    spotId: item.spotId,\n    foodId: item.foodId,\n    jokeId: item.jokeId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        1968
      ],
      "name": "Prep Status Check (Redo)",
      "id": "69f382c6-dec8-43d2-816f-7b6d16c52f1d"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3712,
        1888
      ],
      "name": "Check Image Status (Redo)",
      "id": "569346ac-11e1-4cbe-956f-d597283ea766",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const statusResponse = $input.item.json;\nconst state = statusResponse.data.state;\nconst createTime = statusResponse.data.createTime;\nconst elapsed = Date.now() - createTime;\nconst fiveMinutes = 5 * 60 * 1000;\n\nreturn {\n  json: {\n    taskId: statusResponse.data.taskId,\n    status: state,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && state !== 'success',\n    isFailed: state === 'failed',\n    isSuccess: state === 'success',\n    statusResponse: statusResponse.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        1888
      ],
      "name": "Merge Status Data (Redo)",
      "id": "0f006b1c-849e-4ed3-9c17-f393e5de1b3d"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4160,
        1888
      ],
      "name": "Aggregate Status Results (Redo)",
      "id": "0db14722-a918-4dc9-99a6-e95f9c60c66d"
    },
    {
      "parameters": {
        "jsCode": "const statusItems = $input.first().json.items;\nconst originalItems = $('Set Image Start Time (Redo)').all().map(i => i.json);\n\nconst items = statusItems.map(status => {\n  const original = originalItems.find(o => o.taskId === status.taskId);\n  const elapsed = original ? Date.now() - original.imageStartTime : 0;\n  const fiveMinutes = 5 * 60 * 1000;\n  \n  return {\n    ...status,\n    ...original,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && status.status !== 'success'\n  };\n});\n\nconst pendingItems = items.filter(i => !i.isSuccess && !i.isFailed && !i.isTimedOut);\n\nreturn [{\n  json: {\n    totalItems: items.length,\n    pendingCount: pendingItems.length,\n    items\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        1888
      ],
      "name": "Evaluate All Statuses (Redo)",
      "id": "915a9d7c-4609-4feb-b899-438f56474b90"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "still-pending",
              "leftValue": "={{ $json.pendingCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4608,
        1888
      ],
      "name": "IF (Still Pending) (Redo)",
      "id": "3b93bcd0-ad2f-4557-9168-c53f42d71cd7"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        1984
      ],
      "name": "Extract All Items (Redo)",
      "id": "cdfa6137-7247-4595-9032-55a59a163780"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5056,
        2128
      ],
      "name": "Wait 30s (Redo)",
      "webhookId": "redo-wait-webhook",
      "id": "d6bc70ea-49b6-4503-958a-d8fa1a77f0a9"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst successful = data.items.filter(i => \n  i.isSuccess && \n  i.statusResponse.resultJson && \n  i.statusResponse.resultJson !== ''\n);\n\nconst failed = data.items.filter(i => \n  i.isFailed || \n  i.isTimedOut || \n  !i.statusResponse.resultJson || \n  i.statusResponse.resultJson === ''\n);\n\nreturn [{\n  json: {\n    successful,\n    failed,\n    successCount: successful.length,\n    failedCount: failed.length,\n    totalItems: data.items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        1792
      ],
      "name": "Split by Success (Redo)",
      "id": "dfcffd1e-4cd2-4f5e-a05d-c527c2a14073"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-successful",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5056,
        1552
      ],
      "name": "IF (Any Successful) (Redo)",
      "id": "98a09def-f89e-49d9-9801-4db450c29723"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success (Redo)').first().json;\nreturn data.successful.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        1472
      ],
      "name": "Extract Successful (Redo)",
      "id": "a9d1a303-5fd4-4a4f-919b-33aa5751ae47"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-failed",
              "leftValue": "={{ $('Split by Success (Redo)').first().json.failedCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6848,
        1808
      ],
      "name": "IF (Any Failed) (Redo)",
      "id": "8f3cf269-b1f1-4224-b41a-7cf314277e3a"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success (Redo)').first().json;\nreturn data.failed.map(item => ({\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Redo'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        1888
      ],
      "name": "Prep Failed Updates (Redo)",
      "id": "b8a51af7-5535-420e-aa5f-50371b7c17fb"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Joke_ID",
              "displayName": "Joke_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7296,
        1888
      ],
      "name": "Update Content - Redo (Redo)",
      "id": "08a2eb9c-0da4-415d-94c6-a753cf038945",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst resultJson = JSON.parse(item.statusResponse.resultJson);\nconst imageUrl = resultJson.resultUrls[0];\n\nreturn {\n  json: {\n    ...item,\n    imageUrl: imageUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        1472
      ],
      "name": "Prep Download (Redo)",
      "id": "09764cc2-3b2d-481d-9692-10af6b0ffc8d"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5728,
        1472
      ],
      "name": "Download Image (Redo)",
      "id": "194b04fa-46a4-4d84-bdcf-db5bf34bc356"
    },
    {
      "parameters": {
        "name": "={{ $('Prep Download (Redo)').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search Location Folder (Redo)').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6624,
        1472
      ],
      "name": "Upload Image to Drive (Redo)",
      "id": "25397d6e-34b1-4818-bc57-a3631d6ff71d",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Prep Download (Redo)').item.json;\nconst uploadResult = $json;\n\nreturn {\n  json: {\n    contentId: imageData.contentId,\n    contentType: imageData.contentType,\n    filename: imageData.filename,\n    spotId: imageData.spotId || null,\n    foodId: imageData.foodId || null,\n    jokeId: imageData.jokeId || null,\n    driveId: uploadResult.id,\n    driveUrl: `https://drive.google.com/uc?export=view&id=${uploadResult.id}`,\n    webViewLink: uploadResult.webViewLink\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6848,
        1472
      ],
      "name": "Collect Image Result (Redo)",
      "id": "d54d4ebc-97b1-437c-912a-17ccd8dbdd7f"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nreturn {\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Review',\n    Drive_ID: item.driveId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        1472
      ],
      "name": "Prep Content Update (Redo)",
      "id": "e8d9472b-1550-4a1f-a347-346d111bdffd"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Joke_ID",
              "displayName": "Joke_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7296,
        1472
      ],
      "name": "Update Content - Review (Redo)",
      "id": "4246b443-1dc6-40c2-bc34-07cfc47c91e4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        7520,
        1696
      ],
      "name": "Merge Success and Failed (Redo)",
      "id": "56d08350-6689-4d6b-a10b-a8fdfd017891"
    },
    {
      "parameters": {
        "jsCode": "const splitData = $('Split by Success (Redo)').first().json;\nconst locationId = $('Generate Prompts (Redo)').first().json.locationId;\n\nreturn [{\n  json: {\n    Location_ID: locationId,\n    Status: 'Images_Review',\n    successCount: splitData.successCount,\n    failedCount: splitData.failedCount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7744,
        1712
      ],
      "name": "Prep Location Update (Redo)",
      "id": "358bbc57-6889-4975-a0e2-df71c94ed7a0"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location_ID": "={{ $json.Location_ID }}",
            "Status": "={{ $json.Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Location_ID"
          ],
          "schema": [
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather",
              "displayName": "Weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Color_Palette",
              "displayName": "Color_Palette",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camera_Angle",
              "displayName": "Camera_Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Day",
              "displayName": "Sky_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Night",
              "displayName": "Sky_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Day",
              "displayName": "Lighting_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Night",
              "displayName": "Lighting_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Day",
              "displayName": "Ambient_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Night",
              "displayName": "Ambient_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Music",
              "displayName": "Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7968,
        1712
      ],
      "name": "Update Location - Images_Review (Redo)",
      "id": "d0fd804b-22a9-43ba-b6cb-118a85ecd60c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "richiecoy@gmail.com",
        "toEmail": "richiecoy@gmail.com",
        "subject": "=AI Aliens - Redo Images Ready for Review",
        "html": "=Redo images generated for {{ $('Generate Prompts (Redo)').first().json.locationName }}.<br><br>Successful: {{ $json.successCount }}<br>Still failed (marked for redo): {{ $json.failedCount }}<br><br>Review and approve in the Content tab.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        8192,
        1712
      ],
      "name": "Email - Redo Images Ready",
      "id": "2021dc97-4648-4098-80ca-d4b6dd9fe0f7",
      "webhookId": "cea599e4-18bc-4abb-b5fb-01cebc19ec55",
      "credentials": {
        "smtp": {
          "id": "8alovuwdyCQhOA4Q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.filename }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search Location Folder (Redo)').first().json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5952,
        1472
      ],
      "name": "Find Existing File (Redo)",
      "alwaysOutputData": true,
      "id": "dee2e3d5-2e52-414d-81d6-bba7acfa51a6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6176,
        1472
      ],
      "name": "Delete Existing File (Redo)",
      "id": "b1de315e-1f53-4874-bac1-c36d6141dcba",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const downloadData = $('Download Image (Redo)').item;\nconst prepData = $('Prep Download (Redo)').item.json;\n\nreturn {\n  json: {\n    ...prepData\n  },\n  binary: downloadData.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        1472
      ],
      "name": "Restore Binary (Redo)",
      "id": "a918db69-a2b0-4adf-bfea-fe11636d143f"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Style_Approved Locations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Images_Review Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Style_Approved Locations": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images_Review Locations": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Evaluate Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Locations": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Email - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Initial Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Initial Run": {
      "main": [
        [
          {
            "node": "Get Spots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Redo Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spots": {
      "main": [
        [
          {
            "node": "Get Foods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Foods": {
      "main": [
        [
          {
            "node": "Get Dialogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dialogue": {
      "main": [
        [
          {
            "node": "Get Jokes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jokes": {
      "main": [
        [
          {
            "node": "Get Time of Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time of Day": {
      "main": [
        [
          {
            "node": "Get Laugh Styles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Laugh Styles": {
      "main": [
        [
          {
            "node": "Get Photo Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompts (Initial)": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Generate Titles & Captions (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Titles & Captions (Claude)": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Activities": {
      "main": [
        [
          {
            "node": "Generate Prompts (Initial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Content Items": {
      "main": [
        [
          {
            "node": "Create Content Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Split Content Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Used Updates": {
      "main": [
        [
          {
            "node": "Extract Spot Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Food Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Joke Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Spot Updates": {
      "main": [
        [
          {
            "node": "Mark Spots Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Food Updates": {
      "main": [
        [
          {
            "node": "Mark Foods Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Joke Updates": {
      "main": [
        [
          {
            "node": "Mark Jokes Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Content Rows": {
      "main": [
        [
          {
            "node": "Prepare Used Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Spots Used": {
      "main": [
        [
          {
            "node": "Wait for Marks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Foods Used": {
      "main": [
        [
          {
            "node": "Wait for Marks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mark Jokes Posted": {
      "main": [
        [
          {
            "node": "Wait for Marks",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Wait for Marks": {
      "main": [
        [
          {
            "node": "Search Location Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Location Folder": {
      "main": [
        [
          {
            "node": "Prepare Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Generation": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Set Image Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Status Check": {
      "main": [
        [
          {
            "node": "Check Image Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Status": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data": {
      "main": [
        [
          {
            "node": "Aggregate Status Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Status Results": {
      "main": [
        [
          {
            "node": "Evaluate All Statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate All Statuses": {
      "main": [
        [
          {
            "node": "IF (Still Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Start Time": {
      "main": [
        [
          {
            "node": "Prep Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Drive": {
      "main": [
        [
          {
            "node": "Collect Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content Update": {
      "main": [
        [
          {
            "node": "Update Content - Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Review": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Location Update": {
      "main": [
        [
          {
            "node": "Update Location - Images_Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Location - Images_Review": {
      "main": [
        [
          {
            "node": "Email - Images Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Image Result": {
      "main": [
        [
          {
            "node": "Prep Content Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Still Pending)": {
      "main": [
        [
          {
            "node": "Extract All Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split by Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Items": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Success": {
      "main": [
        [
          {
            "node": "IF (Any Successful)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF (Any Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Successful)": {
      "main": [
        [
          {
            "node": "Extract Successful",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Failed)": {
      "main": [
        [
          {
            "node": "Prep Failed Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prep Failed Updates": {
      "main": [
        [
          {
            "node": "Update Content - Redo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Prep Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Successful": {
      "main": [
        [
          {
            "node": "Prep Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Redo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prep Location Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Redo Content": {
      "main": [
        [
          {
            "node": "Get Location (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Location (Redo)": {
      "main": [
        [
          {
            "node": "Get Spots (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spots (Redo)": {
      "main": [
        [
          {
            "node": "Get Foods (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Foods (Redo)": {
      "main": [
        [
          {
            "node": "Get Photo Activities (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Activities (Redo)": {
      "main": [
        [
          {
            "node": "Get Time of Day (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time of Day (Redo)": {
      "main": [
        [
          {
            "node": "Generate Prompts (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompts (Redo)": {
      "main": [
        [
          {
            "node": "Search Location Folder (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Generation (Redo)": {
      "main": [
        [
          {
            "node": "Split Images (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Location Folder (Redo)": {
      "main": [
        [
          {
            "node": "Prepare Image Generation (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images (Redo)": {
      "main": [
        [
          {
            "node": "Generate Image (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Redo)": {
      "main": [
        [
          {
            "node": "Set Image Start Time (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Start Time (Redo)": {
      "main": [
        [
          {
            "node": "Prep Status Check (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Status Check (Redo)": {
      "main": [
        [
          {
            "node": "Check Image Status (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Status (Redo)": {
      "main": [
        [
          {
            "node": "Merge Status Data (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data (Redo)": {
      "main": [
        [
          {
            "node": "Aggregate Status Results (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Status Results (Redo)": {
      "main": [
        [
          {
            "node": "Evaluate All Statuses (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate All Statuses (Redo)": {
      "main": [
        [
          {
            "node": "IF (Still Pending) (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Still Pending) (Redo)": {
      "main": [
        [
          {
            "node": "Extract All Items (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split by Success (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Items (Redo)": {
      "main": [
        [
          {
            "node": "Wait 30s (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (Redo)": {
      "main": [
        [
          {
            "node": "Prep Status Check (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Success (Redo)": {
      "main": [
        [
          {
            "node": "IF (Any Successful) (Redo)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF (Any Failed) (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Successful) (Redo)": {
      "main": [
        [
          {
            "node": "Extract Successful (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Successful (Redo)": {
      "main": [
        [
          {
            "node": "Prep Download (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download (Redo)": {
      "main": [
        [
          {
            "node": "Download Image (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image (Redo)": {
      "main": [
        [
          {
            "node": "Find Existing File (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Drive (Redo)": {
      "main": [
        [
          {
            "node": "Collect Image Result (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Image Result (Redo)": {
      "main": [
        [
          {
            "node": "Prep Content Update (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content Update (Redo)": {
      "main": [
        [
          {
            "node": "Update Content - Review (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Review (Redo)": {
      "main": [
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Failed) (Redo)": {
      "main": [
        [
          {
            "node": "Prep Failed Updates (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prep Failed Updates (Redo)": {
      "main": [
        [
          {
            "node": "Update Content - Redo (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Redo (Redo)": {
      "main": [
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Success and Failed (Redo)": {
      "main": [
        [
          {
            "node": "Prep Location Update (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Location Update (Redo)": {
      "main": [
        [
          {
            "node": "Update Location - Images_Review (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Location - Images_Review (Redo)": {
      "main": [
        [
          {
            "node": "Email - Redo Images Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing File (Redo)": {
      "main": [
        [
          {
            "node": "Delete Existing File (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing File (Redo)": {
      "main": [
        [
          {
            "node": "Restore Binary (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary (Redo)": {
      "main": [
        [
          {
            "node": "Upload Image to Drive (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "55b5b4e9-47a6-4af5-b1a7-4ccc68845f22",
  "meta": {
    "instanceId": "daba14a88550d0304eb819e927ffe087dff267675394753b32278f2dd7342718"
  },
  "id": "3XUTJ1yCtS-YxuZ9XRO5P",
  "tags": [
    {
      "updatedAt": "2026-01-26T00:07:29.173Z",
      "createdAt": "2026-01-26T00:07:29.173Z",
      "id": "37EoA9uWEU2xtfjr",
      "name": "V2"
    },
    {
      "updatedAt": "2026-01-21T17:38:45.151Z",
      "createdAt": "2026-01-21T17:38:45.151Z",
      "id": "CEWpWHWat0OoEcmi",
      "name": "Gorb & Pleck"
    }
  ]
}