AI Aliens - Image Pipeline
{
  "name": "AI Aliens - Image Pipeline v3",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=143205348"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Style_Approved"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        1296
      ],
      "id": "c6a847ee-6498-4f27-a7b2-f6f8d00bf6bf",
      "name": "Get Style_Approved Locations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=143205348"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Images_Review"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        1488
      ],
      "id": "ed97b639-b02e-4a10-a533-3574631faffb",
      "name": "Get Images_Review Locations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -96,
        1392
      ],
      "id": "2af6282d-5ca6-4738-bc6f-680a1c569a72",
      "name": "Wait for Both"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from merged inputs - filter by Status field\nconst allItems = $input.all().map(i => i.json);\n\nconst styleApproved = allItems.filter(i => i.Location_ID && i.Status === 'Style_Approved');\nconst imagesReview = allItems.filter(i => i.Location_ID && i.Status === 'Images_Review');\n\n// Check for error condition: both have locations\nif (styleApproved.length > 0 && imagesReview.length > 0) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'multiple_states',\n      message: `Found ${styleApproved.length} location(s) at Style_Approved AND ${imagesReview.length} location(s) at Images_Review. This should not happen.`,\n      styleApprovedLocations: styleApproved.map(l => l.Name),\n      imagesReviewLocations: imagesReview.map(l => l.Name)\n    }\n  }];\n}\n\n// Check for multiple locations in same state\nif (styleApproved.length > 1) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'multiple_locations',\n      message: `Found ${styleApproved.length} locations at Style_Approved. Only one location should be processed at a time.`,\n      locations: styleApproved.map(l => l.Name)\n    }\n  }];\n}\n\nif (imagesReview.length > 1) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'multiple_locations',\n      message: `Found ${imagesReview.length} locations at Images_Review. Only one location should be processed at a time.`,\n      locations: imagesReview.map(l => l.Name)\n    }\n  }];\n}\n\n// No locations found\nif (styleApproved.length === 0 && imagesReview.length === 0) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'no_location',\n      message: 'No eligible location found. Need a location with Status = Style_Approved or Images_Review.'\n    }\n  }];\n}\n\n// Single location found - determine run type\nconst location = styleApproved.length > 0 ? styleApproved[0] : imagesReview[0];\nconst runType = styleApproved.length > 0 ? 'initial' : 'redo_check';\n\n// Sanitize location name for Content_ID (replace spaces with underscores)\nconst sanitizedName = location.Name.replace(/\\s+/g, '_');\n\nreturn [{\n  json: {\n    error: false,\n    runType: runType,\n    location: location,\n    sanitizedName: sanitizedName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1392
      ],
      "id": "a1197ac3-932b-4795-8e51-48afbcf99c16",
      "name": "Evaluate Locations"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        1392
      ],
      "id": "02320fa1-72a0-49a6-9c90-7eca15560d97",
      "name": "IF Error"
    },
    {
      "parameters": {
        "fromEmail": "richiecoy@gmail.com",
        "toEmail": "richiecoy@gmail.com",
        "subject": "=AI Aliens Image Pipeline - Error",
        "html": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        1296
      ],
      "id": "9fda8613-a215-445e-b043-453122acbb61",
      "name": "Email - Error",
      "webhookId": "ddef2435-fe9d-4b1b-b24c-2961184df5e5",
      "credentials": {
        "smtp": {
          "id": "8alovuwdyCQhOA4Q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "initial-run-check",
              "leftValue": "={{ $json.runType }}",
              "rightValue": "initial",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        1488
      ],
      "id": "b7c5e163-3de2-4d6e-abf7-714e239a82c2",
      "name": "IF Initial Run"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344220938,
          "mode": "list",
          "cachedResultName": "Spots",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=1344220938"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $json.location.Location_ID }}"
            },
            {
              "lookupColumn": "Used",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        816
      ],
      "id": "202ad187-7af9-4f94-908d-f739536030f4",
      "name": "Get Spots",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 799174727,
          "mode": "list",
          "cachedResultName": "Foods",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=799174727"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').item.json.location.Location_ID }}"
            },
            {
              "lookupColumn": "Used",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        816
      ],
      "id": "3dc86aec-9a72-458f-b3e4-349c62eacb63",
      "name": "Get Foods",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1152854344,
          "mode": "list",
          "cachedResultName": "Dialogue"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').item.json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        816
      ],
      "id": "066d31f9-85cd-4485-8ba3-508a3fea5c37",
      "name": "Get Dialogue",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1434410303,
          "mode": "list",
          "cachedResultName": "Pools"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Pool_Type",
              "lookupValue": "time_of_day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        816
      ],
      "id": "61231b4c-e3ea-47d8-a07c-0bb9eb832f2b",
      "name": "Get Time of Day",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==== INPUTS ====\nconst evalData = $('IF Initial Run').first().json;\nconst loc = evalData.location;\nconst sanitizedName = evalData.sanitizedName;\nconst spots = $('Get Spots').all().map(item => item.json);\nconst foods = $('Get Foods').all().map(item => item.json);\nconst dialogue = $('Get Dialogue').first().json;\nconst timesOfDay = $('Get Time of Day').all().map(item => item.json.Value);\nconst allActivities = $('Get Photo Activities').all().map(item => item.json);\n\n// ==== HELPERS ====\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction pickMultiple(arr, count) {\n  const shuffled = [...arr].sort(() => 0.5 - Math.random());\n  return shuffled.slice(0, count);\n}\n\nfunction getTimeSettings(timeOfDay) {\n  const isNight = ['dusk', 'night'].includes(timeOfDay);\n  return {\n    timeOfDay,\n    isNight,\n    sky: isNight ? loc.Sky_Night : loc.Sky_Day,\n    lighting: isNight ? loc.Lighting_Night : loc.Lighting_Day,\n    ambient: isNight ? loc.Ambient_Night : loc.Ambient_Day\n  };\n}\n\n// ==== FILTER ACTIVITIES BY TYPE ====\nconst introActivities = allActivities.filter(a => a.Activity_Type === 'intro');\nconst gorbStoryActivities = allActivities.filter(a => a.Activity_Type === 'gorb_story');\nconst pleckStoryActivities = allActivities.filter(a => a.Activity_Type === 'pleck_story');\nconst reviewActivities = allActivities.filter(a => a.Activity_Type === 'review');\nconst generalActivities = allActivities.filter(a => a.Activity_Type === 'general');\nconst foodActivities = allActivities.filter(a => a.Activity_Type === 'food');\n\n// ==== CHARACTER DEFINITIONS ====\nconst gorb = {\n  id: 'GORB (grey alien, blue eyes, black \"I love humans\" t-shirt)',\n  videoId: 'Gorb, a grey alien with blue eyes wearing a black \"I love humans\" t-shirt',\n  description: 'a grey alien with a large bulbous head, big expressive blue eyes, wearing a black t-shirt with \"I love humans\" text and a red heart, khaki cargo shorts, white crew socks, and worn grey sneakers',\n  voice: 'Male high-pitched, eager, slightly nasally, speaks with childlike enthusiasm',\n  action: 'looks around excitedly'\n};\n\nconst pleck = {\n  id: 'PLECK (grey-green alien, amber eyes, Hawaiian shirt)',\n  videoId: 'Pleck, a grey-green alien with amber eyes wearing a Hawaiian shirt',\n  description: 'a grey-green alien with a large bulbous head, big expressive amber-orange eyes, wearing a dark tropical Hawaiian shirt with pink and green floral pattern, dark grey jeans, and black Converse-style sneakers',\n  voice: 'Male low, dry, deadpan delivery, slight exasperation',\n  action: 'looks at camera with deadpan expression'\n};\n\n// ==== BUILD IMAGE PROMPT FUNCTION ====\nfunction buildImagePrompt(spot, activity, timeOfDay, aspectRatio, options = {}) {\n  const time = getTimeSettings(timeOfDay);\n  const { food, soloCharacter } = options;\n  \n  let activityText = activity.Activity;\n  if (food) {\n    activityText += `. They are eating ${food.Food_Name}: ${food.Food_Description}`;\n  }\n  \n  // Character section based on content type (uses description for images)\n  let characterSection;\n  if (soloCharacter === 'gorb') {\n    characterSection = `GORB, ${gorb.description}, in foreground, medium close-up, ${activityText}. ${activity.Framing}.`;\n  } else if (soloCharacter === 'pleck') {\n    characterSection = `PLECK, ${pleck.description}, in foreground, medium close-up, ${activityText}. ${activity.Framing}.`;\n  } else {\n    // Both characters (snapshots)\n    characterSection = `GORB, ${gorb.description}, and PLECK, ${pleck.description}: ${activityText}. ${activity.Framing}.`;\n  }\n  \n  return `Photorealistic 3D CGI render. ${loc.Name} — ${loc.Description}\n\n${spot.Spot_Description}\n\n${characterSection}\n\n${time.sky}. ${time.lighting}.\n\nVertical ${aspectRatio} composition.`;\n}\n\n// ==== FILTER SPOTS BY TYPE ====\nconst landingZone = spots.find(s => s.Spot_Type === 'landing_zone');\nconst foodVendors = spots.filter(s => s.Spot_Type === 'food_vendor');\nconst genericSpots = spots.filter(s => !['landing_zone', 'food_vendor'].includes(s.Spot_Type));\n\n// ==== SELECT SPOTS FOR CONTENT ====\nconst selectedStorySpots = pickMultiple(genericSpots, 2);\nconst remainingGeneric = genericSpots.filter(s => !selectedStorySpots.includes(s));\nconst selectedSnapshotSpots = pickMultiple(remainingGeneric, 8);\nconst selectedFoodSpots = pickMultiple(foodVendors, 2);\nconst reviewSpot = pick(remainingGeneric.filter(s => !selectedSnapshotSpots.includes(s)));\n\n// ==== SELECT OTHER ELEMENTS ====\nconst selectedFoods = foods.slice(0, 2);\nconst selectedGeneralActivities = pickMultiple(generalActivities, 8);\nconst selectedFoodActivities = pickMultiple(foodActivities, 2);\n\n// ==== BUILD CONTENT ITEMS ====\nconst contentItems = [];\n\n// INTRO (Gorb solo)\nconst introActivity = pick(introActivities);\nconst introTime = pick(timesOfDay.filter(t => !['dusk', 'night'].includes(t)));\nconst introAmbient = getTimeSettings(introTime).ambient;\n\ncontentItems.push({\n  contentId: `${sanitizedName}_intro`,\n  contentType: 'intro',\n  spotId: landingZone.Spot_ID,\n  foodId: null,\n  timeOfDay: introTime,\n  imagePrompt: buildImagePrompt(landingZone, introActivity, introTime, '9:16', { soloCharacter: 'gorb' }),\n  aspectRatio: '9:16',\n  videoPrompt: `Static camera, medium close-up. ${gorb.videoId}, ${gorb.action}. Voice: ${gorb.voice}.\n\nGorb: \"${dialogue.Intro_Line}\"\n\nAmbient sounds: ${introAmbient}.`\n});\n\n// GORB STORY (Gorb solo)\nconst gorbStoryActivity = pick(gorbStoryActivities.length ? gorbStoryActivities : introActivities);\nconst gorbStorySpot = selectedStorySpots[0];\nconst gorbStoryTime = pick(timesOfDay);\nconst gorbStoryAmbient = getTimeSettings(gorbStoryTime).ambient;\n\ncontentItems.push({\n  contentId: `${sanitizedName}_gorb_story`,\n  contentType: 'gorb_story',\n  spotId: gorbStorySpot.Spot_ID,\n  foodId: null,\n  timeOfDay: gorbStoryTime,\n  imagePrompt: buildImagePrompt(gorbStorySpot, gorbStoryActivity, gorbStoryTime, '9:16', { soloCharacter: 'gorb' }),\n  aspectRatio: '9:16',\n  videoPrompt: `Static camera, medium close-up. ${gorb.videoId}, ${gorb.action}. Voice: ${gorb.voice}.\n\nGorb: \"${dialogue.Gorb_Story}\"\n\nAmbient sounds: ${gorbStoryAmbient}.`\n});\n\n// PLECK STORY (Pleck solo)\nconst pleckStoryActivity = pick(pleckStoryActivities.length ? pleckStoryActivities : reviewActivities);\nconst pleckStorySpot = selectedStorySpots[1];\nconst pleckStoryTime = pick(timesOfDay);\nconst pleckStoryAmbient = getTimeSettings(pleckStoryTime).ambient;\n\ncontentItems.push({\n  contentId: `${sanitizedName}_pleck_story`,\n  contentType: 'pleck_story',\n  spotId: pleckStorySpot.Spot_ID,\n  foodId: null,\n  timeOfDay: pleckStoryTime,\n  imagePrompt: buildImagePrompt(pleckStorySpot, pleckStoryActivity, pleckStoryTime, '9:16', { soloCharacter: 'pleck' }),\n  aspectRatio: '9:16',\n  videoPrompt: `Static camera, medium close-up. ${pleck.videoId}, ${pleck.action}. Voice: ${pleck.voice}.\n\nPleck: \"${dialogue.Pleck_Story}\"\n\nAmbient sounds: ${pleckStoryAmbient}.`\n});\n\n// SNAPSHOTS 1-4 (general, both characters)\nfor (let i = 0; i < 4; i++) {\n  const spot = selectedSnapshotSpots[i];\n  const activity = selectedGeneralActivities[i];\n  const time = pick(timesOfDay);\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_0${i + 1}`,\n    contentType: `snapshot_0${i + 1}`,\n    spotId: spot.Spot_ID,\n    foodId: null,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '4:5'),\n    aspectRatio: '4:5'\n  });\n}\n\n// SNAPSHOT 5 (food, both characters)\n{\n  const spot = selectedFoodSpots[0];\n  const food = selectedFoods[0];\n  const activity = selectedFoodActivities[0];\n  const time = pick(timesOfDay);\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_05`,\n    contentType: 'snapshot_05',\n    spotId: spot.Spot_ID,\n    foodId: food.Food_ID,\n    foodName: food.Food_Name,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '4:5', { food }),\n    aspectRatio: '4:5'\n  });\n}\n\n// SNAPSHOTS 6-9 (general, both characters)\nfor (let i = 4; i < 8; i++) {\n  const spot = selectedSnapshotSpots[i];\n  const activity = selectedGeneralActivities[i];\n  const time = pick(timesOfDay);\n  const snapshotNum = i + 2;\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_0${snapshotNum}`,\n    contentType: `snapshot_0${snapshotNum}`,\n    spotId: spot.Spot_ID,\n    foodId: null,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '4:5'),\n    aspectRatio: '4:5'\n  });\n}\n\n// SNAPSHOT 10 (food, both characters)\n{\n  const spot = selectedFoodSpots[1];\n  const food = selectedFoods[1];\n  const activity = selectedFoodActivities[1];\n  const time = pick(timesOfDay);\n\n  contentItems.push({\n    contentId: `${sanitizedName}_snapshot_10`,\n    contentType: 'snapshot_10',\n    spotId: spot.Spot_ID,\n    foodId: food.Food_ID,\n    foodName: food.Food_Name,\n    activity: activity.Activity,\n    timeOfDay: time,\n    imagePrompt: buildImagePrompt(spot, activity, time, '4:5', { food }),\n    aspectRatio: '4:5'\n  });\n}\n\n// REVIEW (speaker based on dialogue.Review_Speaker)\nconst reviewActivity = pick(reviewActivities);\nconst reviewTime = pick(timesOfDay);\nconst reviewAmbient = getTimeSettings(reviewTime).ambient;\nconst reviewSpeaker = dialogue.Review_Speaker || 'Gorb';\nconst isGorbReview = reviewSpeaker.toLowerCase() === 'gorb';\n\ncontentItems.push({\n  contentId: `${sanitizedName}_review`,\n  contentType: 'review',\n  spotId: reviewSpot.Spot_ID,\n  foodId: null,\n  timeOfDay: reviewTime,\n  imagePrompt: buildImagePrompt(reviewSpot, reviewActivity, reviewTime, '9:16', { soloCharacter: isGorbReview ? 'gorb' : 'pleck' }),\n  aspectRatio: '9:16',\n  videoPrompt: isGorbReview\n    ? `Static camera, medium close-up. ${gorb.videoId}, ${gorb.action}. Voice: ${gorb.voice}.\n\nGorb: \"${dialogue.Review_Line}\"\n\nAmbient sounds: ${reviewAmbient}.`\n    : `Static camera, medium close-up. ${pleck.videoId}, ${pleck.action}. Voice: ${pleck.voice}.\n\nPleck: \"${dialogue.Review_Line}\"\n\nAmbient sounds: ${reviewAmbient}.`\n});\n\n// ==== COLLECT USED IDS ====\nconst usedSpotIds = [\n  landingZone.Spot_ID,\n  ...selectedStorySpots.map(s => s.Spot_ID),\n  ...selectedSnapshotSpots.map(s => s.Spot_ID),\n  ...selectedFoodSpots.map(s => s.Spot_ID),\n  reviewSpot.Spot_ID\n];\nconst usedFoodIds = selectedFoods.map(f => f.Food_ID);\n\nreturn [{\n  json: {\n    locationId: loc.Location_ID,\n    locationName: loc.Name,\n    sanitizedName: sanitizedName,\n    contentItems: contentItems,\n    usedSpotIds: usedSpotIds,\n    usedFoodIds: usedFoodIds,\n    totalItems: contentItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        816
      ],
      "id": "b42503a7-708a-4a1e-b5a4-c4402d1d2d2b",
      "name": "Generate Prompts (Initial)"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst snapshotContext = data.contentItems\n  .filter(item => item.contentType.startsWith('snapshot'))\n  .map(item => `- ${item.contentType}: ${item.activity}${item.foodName ? ' with ' + item.foodName : ''}`)\n  .join('\\n');\n\nconst prompt = `Generate titles and captions for these content pieces. Return JSON only, no markdown.\nLocation: ${data.locationName}\nContent items:\n${data.contentItems.map(item => `- ${item.contentId} (${item.contentType})`).join('\\n')}\nFor each item, generate:\n- title: Short, catchy title for video content (intro, gorb_story, pleck_story, review only - leave blank for snapshots)\n- caption: Instagram caption with personality, 1-2 sentences, include 2-3 relevant hashtags\n\nAlso generate 10 polaroid captions (max 25 chars, casual tourist scribble like \"Wish you were here!\" or \"Pleck almost smiled!\"):\n${snapshotContext}\n\nReturn as JSON array:\n[{\"contentId\": \"...\", \"title\": \"...\", \"caption\": \"...\"}, {\"contentId\": \"polaroid_01\", \"caption\": \"...\"}, {\"contentId\": \"polaroid_02\", \"caption\": \"...\"}, ...]`;\n\nreturn [{\n  json: {\n    ...data,\n    claudePrompt: prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        816
      ],
      "id": "3babd125-6fd3-4080-be2a-343745d9459f",
      "name": "Build Claude Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PLACEHOLDER"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.claudePrompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        816
      ],
      "id": "274feb5f-230b-4aba-a782-719c9bacbcc5",
      "name": "Generate Titles & Captions (Claude)"
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\n\nconst text = response.content[0].text;\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse Claude response: ${e.message}`);\n}\n\nconst contentItems = prevData.contentItems.map(item => {\n  const match = parsed.find(p => p.contentId === item.contentId);\n  \n  // Get polaroid caption for snapshots\n  let polaroidCaption = '';\n  if (item.contentType.startsWith('snapshot_')) {\n    const num = item.contentType.replace('snapshot_', '');\n    const polaroid = parsed.find(p => p.contentId === `polaroid_${num}`);\n    polaroidCaption = polaroid?.caption || '';\n  }\n  \n  return {\n    ...item,\n    title: match?.title || '',\n    caption: match?.caption || '',\n    polaroidCaption: polaroidCaption\n  };\n});\n\nreturn [{\n  json: {\n    ...prevData,\n    contentItems: contentItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        816
      ],
      "id": "79b34a38-5187-4d4f-96f7-4007d6540179",
      "name": "Parse Claude Response"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 2063911436,
          "mode": "list",
          "cachedResultName": "Photo_Activities"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        816
      ],
      "id": "3da302ee-1b99-404f-b1d9-1b8e971c3b0a",
      "name": "Get Photo Activities",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.contentItems.map(item => ({\n  json: {\n    Content_ID: item.contentId,\n    Location_ID: data.locationId,\n    Content_Type: item.contentType,\n    Spot_ID: item.spotId || '',\n    Food_ID: item.foodId || '',\n    Time_of_Day: item.timeOfDay,\n    Title: item.title || '',\n    Caption: item.caption || '',\n    Polaroid_Caption: item.polaroidCaption || '',\n    Image_Prompt: item.imagePrompt || '',\n    Video_Prompt: item.videoPrompt || '',\n    Image_Status: 'Pending',\n    Video_Status: ['intro', 'gorb_story', 'pleck_story', 'review'].includes(item.contentType) ? 'Pending' : 'N/A',\n    aspectRatio: item.aspectRatio,\n    usedSpotIds: data.usedSpotIds,\n    usedFoodIds: data.usedFoodIds,\n    locationId: data.locationId,\n    sanitizedName: data.sanitizedName\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        816
      ],
      "id": "5094a53b-a5f3-481c-a4f5-56e90bc699c5",
      "name": "Split Content Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU/edit#gid=1192648937"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Location_ID": "={{ $json.Location_ID }}",
            "Content_Type": "={{ $json.Content_Type }}",
            "Spot_ID": "={{ $json.Spot_ID }}",
            "Food_ID": "={{ $json.Food_ID }}",
            "Title": "={{ $json.Title }}",
            "Caption": "={{ $json.Caption }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "Video_Status": "={{ $json.Video_Status }}",
            "Polaroid_Caption": "={{ $json.Polaroid_Caption }}",
            "Time_of_Day": "={{ $json.Time_of_Day }}",
            "Video_Prompt": "={{ $json.Video_Prompt }}",
            "Image_Prompt": "={{ $json.Image_Prompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blotato_ID",
              "displayName": "Blotato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time_of_Day",
              "displayName": "Time_of_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Prompt",
              "displayName": "Image_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt",
              "displayName": "Video_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_Status",
              "displayName": "Post_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        816
      ],
      "id": "b887d2bc-ce2e-4bc1-ad1a-b339fbf1afe2",
      "name": "Create Content Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Claude Response').first().json;\nconst spotUpdates = data.usedSpotIds.map(id => ({\n  json: { Spot_ID: id, Used: 'Yes' }\n}));\nconst foodUpdates = data.usedFoodIds.map(id => ({\n  json: { Food_ID: id, Used: 'Yes' }\n}));\nreturn [{\n  json: {\n    spotUpdates,\n    foodUpdates,\n    contentItems: data.contentItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        816
      ],
      "id": "00c5bac2-7c4f-4749-a3c5-f5f914b7c26e",
      "name": "Prepare Used Updates"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.spotUpdates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        736
      ],
      "id": "bee7f217-3bd9-434e-b0bc-3239d07c7e9b",
      "name": "Extract Spot Updates"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344220938,
          "mode": "list",
          "cachedResultName": "Spots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Used": "={{ $json.Used }}",
            "row_number": 0,
            "Spot_ID": "={{ $json.Spot_ID }}"
          },
          "matchingColumns": [
            "Spot_ID"
          ],
          "schema": [
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spot_Type",
              "displayName": "Spot_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spot_Description",
              "displayName": "Spot_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3712,
        736
      ],
      "id": "ccbb9885-2953-48d7-8567-5a7c601e2acd",
      "name": "Mark Spots Used",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Used Updates').first().json;\nreturn data.foodUpdates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        1136
      ],
      "id": "aed53409-07c0-4c1a-8f4f-9909958f3c86",
      "name": "Extract Food Updates"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 799174727,
          "mode": "list",
          "cachedResultName": "Foods"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Used": "={{ $json.Used }}",
            "row_number": 0,
            "Food_ID": "={{ $json.Food_ID }}"
          },
          "matchingColumns": [
            "Food_ID"
          ],
          "schema": [
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Food_Name",
              "displayName": "Food_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Food_Description",
              "displayName": "Food_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3712,
        1136
      ],
      "id": "2f0fa058-94c2-44d7-ae46-de4cda7f416f",
      "name": "Mark Foods Used",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3936,
        816
      ],
      "name": "Wait for Marks",
      "id": "05961586-6933-44f0-b895-8a952211f67c"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Parse Claude Response').first().json.locationId }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE",
            "mode": "list",
            "cachedResultName": "Content",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4160,
        816
      ],
      "name": "Search Location Folder",
      "alwaysOutputData": true,
      "id": "310ce3d7-b8a3-40b1-9ee6-a8e541d09877",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Claude Response').first().json;\n\nconst gorbRef = 'https://drive.google.com/uc?export=view&id=1pH63y7S_m9n7VW0xgV-_9KQ7Bbgt0acy';\nconst pleckRef = 'https://drive.google.com/uc?export=view&id=1fTadAxxCe8Oz2z4OHRrMxOr6-hUHUD-z';\n\nconst contentItems = data.contentItems.map(item => {\n  // Determine which character references to use\n  let imageRefs;\n  if (item.contentType === 'intro' || item.contentType === 'gorb_story') {\n    imageRefs = [gorbRef];\n  } else if (item.contentType === 'pleck_story') {\n    imageRefs = [pleckRef];\n  } else if (item.contentType === 'review') {\n    // Review speaker determined by dialogue - check the video prompt for which character\n    imageRefs = item.videoPrompt && item.videoPrompt.includes('Pleck:') ? [pleckRef] : [gorbRef];\n  } else {\n    // Snapshots use both\n    imageRefs = [gorbRef, pleckRef];\n  }\n\n  return {\n    contentType: item.contentType,\n    contentId: item.contentId,\n    filename: `${item.contentId}.png`,\n    spotId: item.spotId || null,\n    foodId: item.foodId || null,\n    prompt: item.imagePrompt,\n    aspectRatio: item.aspectRatio,\n    nanoBananaPayload: {\n      model: 'nano-banana-pro',\n      input: {\n        prompt: item.imagePrompt,\n        image_input: imageRefs,\n        aspect_ratio: item.aspectRatio,\n        resolution: '1K',\n        output_format: 'png'\n      }\n    }\n  };\n});\n\nreturn [{\n  json: {\n    locationId: data.locationId,\n    locationName: data.locationName,\n    sanitizedName: data.sanitizedName,\n    contentItems: contentItems,\n    totalImages: contentItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        816
      ],
      "name": "Prepare Image Generation",
      "id": "460bc780-fda4-4142-a765-c14d94422c96"
    },
    {
      "parameters": {
        "fieldToSplitOut": "contentItems",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4608,
        816
      ],
      "name": "Split Images",
      "id": "62468d4a-728e-412d-b74c-d5af57e5aa35"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.contentItems.nanoBananaPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4832,
        816
      ],
      "name": "Generate Image",
      "id": "04a7b0d6-c317-4fdf-922c-4e5f0f9e192c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Split Images').item.json.contentItems;\n\nreturn {\n  json: {\n    ...imageData,\n    taskId: $input.item.json.data.taskId,\n    imageStartTime: Date.now()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        816
      ],
      "name": "Set Image Start Time",
      "id": "9e88d663-dfd3-4390-839b-e074fa0e588e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nreturn {\n  json: {\n    contentType: item.contentType,\n    contentId: item.contentId,\n    filename: item.filename,\n    prompt: item.prompt,\n    aspectRatio: item.aspectRatio,\n    taskId: item.taskId,\n    imageStartTime: item.imageStartTime,\n    spotId: item.spotId,\n    foodId: item.foodId,\n    jokeId: item.jokeId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        816
      ],
      "name": "Prep Status Check",
      "id": "e86a8267-f861-4198-a7ab-313a69166c96"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5504,
        736
      ],
      "name": "Check Image Status",
      "id": "e2ff1fa7-cfd4-4ab1-ae70-ebee3fd9d697",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const statusResponse = $input.item.json;\nconst state = statusResponse.data.state;\nconst createTime = statusResponse.data.createTime;\nconst elapsed = Date.now() - createTime;\nconst fiveMinutes = 5 * 60 * 1000;\n\nreturn {\n  json: {\n    taskId: statusResponse.data.taskId,\n    status: state,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && state !== 'success',\n    isFailed: state === 'failed',\n    isSuccess: state === 'success',\n    statusResponse: statusResponse.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5728,
        736
      ],
      "name": "Merge Status Data",
      "id": "c7e86a0a-d6eb-4cde-a13b-34993d53cef5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5952,
        736
      ],
      "name": "Aggregate Status Results",
      "id": "a131e063-cf50-45da-b632-fd245de383ac"
    },
    {
      "parameters": {
        "jsCode": "const statusItems = $input.first().json.items;\nconst originalItems = $('Set Image Start Time').all().map(i => i.json);\n\nconst items = statusItems.map(status => {\n  const original = originalItems.find(o => o.taskId === status.taskId);\n  const elapsed = original ? Date.now() - original.imageStartTime : 0;\n  const fiveMinutes = 5 * 60 * 1000;\n  \n  return {\n    ...status,\n    ...original,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && status.status !== 'success'\n  };\n});\n\nconst successCount = items.filter(i => i.isSuccess).length;\nconst failedItems = items.filter(i => i.isFailed);\nconst timedOutItems = items.filter(i => i.isTimedOut && !i.isFailed);\nconst pendingItems = items.filter(i => !i.isSuccess && !i.isFailed && !i.isTimedOut);\n\nreturn [{\n  json: {\n    allSuccess: successCount === items.length,\n    anyFailed: failedItems.length > 0,\n    anyTimedOut: timedOutItems.length > 0,\n    totalItems: items.length,\n    successCount,\n    failedCount: failedItems.length,\n    timedOutCount: timedOutItems.length,\n    pendingCount: pendingItems.length,\n    failedItems,\n    timedOutItems,\n    items\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        736
      ],
      "name": "Evaluate All Statuses",
      "id": "6a3a2ba6-f58c-4519-ab66-11e5c3ce4a6a"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst resultJson = JSON.parse(item.statusResponse.resultJson);\nconst imageUrl = resultJson.resultUrls[0];\n\nreturn {\n  json: {\n    ...item,\n    imageUrl: imageUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        928
      ],
      "name": "Prep Download",
      "id": "44d42a86-2616-4e00-b86f-d08bc64aa71f"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7520,
        928
      ],
      "name": "Download Image",
      "id": "c5113ca0-a972-44c6-8a3c-87f72c5a2a9b"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search Location Folder').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        7744,
        928
      ],
      "name": "Upload Image to Drive",
      "id": "a38bd993-dccf-41f4-9aa4-e0449e57a7e1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Prep Download').item.json;\nconst uploadResult = $json;\nreturn {\n  json: {\n    contentId: imageData.contentId,\n    contentType: imageData.contentType,\n    filename: imageData.filename,\n    spotId: imageData.spotId || null,\n    foodId: imageData.foodId || null,\n    driveId: uploadResult.id,\n    driveUrl: `https://drive.google.com/uc?export=view&id=${uploadResult.id}`,\n    webViewLink: uploadResult.webViewLink\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7968,
        928
      ],
      "name": "Collect Image Result",
      "id": "e2a4cd9e-3a1c-4aaf-903a-c474edf4ac5c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nreturn {\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Review'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8192,
        928
      ],
      "name": "Prep Content Update",
      "id": "439b7294-7d4e-4c8a-b3af-9f944f603eb9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Blotato_ID",
              "displayName": "Blotato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time_of_Day",
              "displayName": "Time_of_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_Prompt",
              "displayName": "Image_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt",
              "displayName": "Video_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_Status",
              "displayName": "Post_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8416,
        928
      ],
      "name": "Update Content - Review",
      "id": "6591393e-22e1-4a1c-9246-9709d6c52307",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const locationId = $('Parse Claude Response').first().json.locationId;\n\nreturn [{\n  json: {\n    Location_ID: locationId,\n    Status: 'Images_Review'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8864,
        928
      ],
      "name": "Prep Location Update",
      "id": "b93859f6-ff7c-4cc9-be48-f5d63bde6688"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location_ID": "={{ $json.Location_ID }}",
            "Status": "={{ $json.Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Location_ID"
          ],
          "schema": [
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather",
              "displayName": "Weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Color_Palette",
              "displayName": "Color_Palette",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camera_Angle",
              "displayName": "Camera_Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Day",
              "displayName": "Sky_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Night",
              "displayName": "Sky_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Day",
              "displayName": "Lighting_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Night",
              "displayName": "Lighting_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Day",
              "displayName": "Ambient_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Night",
              "displayName": "Ambient_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Music",
              "displayName": "Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9088,
        928
      ],
      "name": "Update Location - Images_Review",
      "id": "8c15010d-db6e-4539-98a4-4da3fb9c2e7b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "richiecoy@gmail.com",
        "toEmail": "richiecoy@gmail.com",
        "subject": "=AI Aliens - Images Ready for Review",
        "html": "=Images generated for {{ $('Parse Claude Response').first().json.locationName }}.<br><br>Total images: 14<br><br>Review and approve in the Content tab.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        9312,
        928
      ],
      "name": "Email - Images Ready",
      "id": "b5f90d80-86d1-444e-9d17-043aec81326a",
      "webhookId": "02013396-e27c-4b21-8c56-822da04b6b83",
      "credentials": {
        "smtp": {
          "id": "8alovuwdyCQhOA4Q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "still-pending",
              "leftValue": "={{ $json.pendingCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6400,
        736
      ],
      "name": "IF (Still Pending)",
      "id": "a29d75ac-ff3f-4fea-b77f-d90198659d84"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        640
      ],
      "name": "Extract All Items",
      "id": "8bed26d9-878b-4ff0-81b6-1145451c6d41"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6848,
        736
      ],
      "name": "Wait 30s",
      "webhookId": "b45b94af-2fce-435a-b39e-6d499500434b",
      "id": "1b2524be-aed9-4b12-8d1c-08d950223682"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst successful = data.items.filter(i => \n  i.isSuccess && \n  i.statusResponse.resultJson && \n  i.statusResponse.resultJson !== ''\n);\n\nconst failed = data.items.filter(i => \n  i.isFailed || \n  i.isTimedOut || \n  !i.statusResponse.resultJson || \n  i.statusResponse.resultJson === ''\n);\n\nreturn [{\n  json: {\n    successful,\n    failed,\n    successCount: successful.length,\n    failedCount: failed.length,\n    totalItems: data.items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        896
      ],
      "name": "Split by Success",
      "id": "7bbf83bf-a02a-4066-8594-33fe525ec547"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-successful",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6848,
        928
      ],
      "name": "IF (Any Successful)",
      "id": "60cca48f-497b-4856-9e01-4669099e3656"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success').first().json;\nreturn data.successful.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        928
      ],
      "name": "Extract Successful",
      "id": "a9f7605b-ab9e-4fd5-9a0b-efa073173502"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-failed",
              "leftValue": "={{ $('Split by Success').first().json.failedCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6848,
        1248
      ],
      "name": "IF (Any Failed)",
      "id": "f9fab2bd-afb5-464b-9755-7b9a230bc60a"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success').first().json;\nreturn data.failed.map(item => ({\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Redo'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        1216
      ],
      "name": "Prep Failed Updates",
      "id": "9b7d8c1d-06b9-4edf-9976-5bbeec5f257a"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blotato_ID",
              "displayName": "Blotato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time_of_Day",
              "displayName": "Time_of_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Prompt",
              "displayName": "Image_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt",
              "displayName": "Video_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_Status",
              "displayName": "Post_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7296,
        1216
      ],
      "name": "Update Content - Redo",
      "id": "4ce0718a-5cf8-4e11-8cec-733f3c28c26f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7520,
        1168
      ],
      "id": "55f5a3c2-af87-4d20-820d-a7f05647d6de",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        8640,
        928
      ],
      "id": "b244f52d-195c-4a36-a106-346d7518cc57",
      "name": "Merge1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $json.location.Location_ID }}"
            },
            {
              "lookupColumn": "Image_Status",
              "lookupValue": "Redo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        1984
      ],
      "name": "Get Redo Content",
      "id": "d8150418-12dd-4f25-b666-fe326bd76b9d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').first().json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        1984
      ],
      "name": "Get Location (Redo)",
      "id": "7e7539f0-7ad0-4371-86db-8526c8268f54",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344220938,
          "mode": "list",
          "cachedResultName": "Spots"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').first().json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1984
      ],
      "name": "Get Spots (Redo)",
      "id": "ac0adab8-67b6-44bb-8d0d-ba3eb32443a1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 799174727,
          "mode": "list",
          "cachedResultName": "Foods"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location_ID",
              "lookupValue": "={{ $('IF Initial Run').first().json.location.Location_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        1984
      ],
      "name": "Get Foods (Redo)",
      "id": "26ee89a1-ec73-467e-8c3e-c4358c84490c",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 2063911436,
          "mode": "list",
          "cachedResultName": "Photo_Activities"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        1984
      ],
      "name": "Get Photo Activities (Redo)",
      "id": "f2e25c86-0d3a-4cac-80c3-664cdb38ba9f",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1434410303,
          "mode": "list",
          "cachedResultName": "Pools"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Pool_Type",
              "lookupValue": "time_of_day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        1984
      ],
      "name": "Get Time of Day (Redo)",
      "id": "8a12f6c9-1a74-4a24-a14a-4a43cf3021f7",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==== INPUTS ====\nconst redoContent = $('Get Redo Content').all().map(item => item.json);\nconst loc = $('Get Location (Redo)').first().json;\nconst spots = $('Get Spots (Redo)').all().map(item => item.json);\nconst foods = $('Get Foods (Redo)').all().map(item => item.json);\nconst allActivities = $('Get Photo Activities (Redo)').all().map(item => item.json);\nconst timesOfDay = $('Get Time of Day (Redo)').all().map(item => item.json.Value);\nconst sanitizedName = loc.Name.replace(/\\s+/g, '_');\n\n// ==== HELPERS ====\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction getTimeSettings(timeOfDay) {\n  const isNight = ['dusk', 'night'].includes(timeOfDay);\n  return {\n    timeOfDay,\n    isNight,\n    sky: isNight ? loc.Sky_Night : loc.Sky_Day,\n    lighting: isNight ? loc.Lighting_Night : loc.Lighting_Day\n  };\n}\n\n// ==== FILTER ACTIVITIES BY TYPE ====\nconst introActivities = allActivities.filter(a => a.Activity_Type === 'intro');\nconst gorbStoryActivities = allActivities.filter(a => a.Activity_Type === 'gorb_story');\nconst pleckStoryActivities = allActivities.filter(a => a.Activity_Type === 'pleck_story');\nconst reviewActivities = allActivities.filter(a => a.Activity_Type === 'review');\nconst generalActivities = allActivities.filter(a => a.Activity_Type === 'general');\nconst foodActivities = allActivities.filter(a => a.Activity_Type === 'food');\n\n// ==== CHARACTER DEFINITIONS ====\nconst gorb = {\n  id: 'GORB (grey alien, blue eyes, black \"I love humans\" t-shirt)',\n  description: 'a grey alien with a large bulbous head, big expressive blue eyes, wearing a black t-shirt with \"I love humans\" text and a red heart, khaki cargo shorts, white crew socks, and worn grey sneakers'\n};\n\nconst pleck = {\n  id: 'PLECK (grey-green alien, amber eyes, Hawaiian shirt)',\n  description: 'a grey-green alien with a large bulbous head, big expressive amber-orange eyes, wearing a dark tropical Hawaiian shirt with pink and green floral pattern, dark grey jeans, and black Converse-style sneakers'\n};\n\n// ==== BUILD PROMPT FUNCTION ====\nfunction buildImagePrompt(spot, activity, timeOfDay, aspectRatio, options = {}) {\n  const time = getTimeSettings(timeOfDay);\n  const { food, soloCharacter } = options;\n  \n  let activityText = activity.Activity;\n  if (food) {\n    activityText += `. They are eating ${food.Food_Name}: ${food.Food_Description}`;\n  }\n  \n  // Character section based on content type (uses description for images)\n  let characterSection;\n  if (soloCharacter === 'gorb') {\n    characterSection = `GORB, ${gorb.description}, in foreground, medium close-up, ${activityText}. ${activity.Framing}.`;\n  } else if (soloCharacter === 'pleck') {\n    characterSection = `PLECK, ${pleck.description}, in foreground, medium close-up, ${activityText}. ${activity.Framing}.`;\n  } else {\n    // Both characters (snapshots)\n    characterSection = `GORB, ${gorb.description}, and PLECK, ${pleck.description}: ${activityText}. ${activity.Framing}.`;\n  }\n  \n  return `Photorealistic 3D CGI render. ${loc.Name} — ${loc.Description}\n\n${spot.Spot_Description}\n\n${characterSection}\n\n${time.sky}. ${time.lighting}.\n\nVertical ${aspectRatio} composition.`;\n}\n\n// ==== REBUILD PROMPTS FOR REDO ITEMS ====\nconst contentItems = redoContent.map(item => {\n  const spot = spots.find(s => s.Spot_ID === item.Spot_ID);\n  const food = item.Food_ID ? foods.find(f => f.Food_ID === item.Food_ID) : null;\n  \n  // Pick activity and determine solo character based on content type\n  let activity;\n  let aspectRatio;\n  let soloCharacter = null;\n  \n  if (item.Content_Type === 'intro') {\n    activity = pick(introActivities);\n    aspectRatio = '9:16';\n    soloCharacter = 'gorb';\n  } else if (item.Content_Type === 'gorb_story') {\n    activity = pick(gorbStoryActivities.length ? gorbStoryActivities : introActivities);\n    aspectRatio = '9:16';\n    soloCharacter = 'gorb';\n  } else if (item.Content_Type === 'pleck_story') {\n    activity = pick(pleckStoryActivities.length ? pleckStoryActivities : reviewActivities);\n    aspectRatio = '9:16';\n    soloCharacter = 'pleck';\n  } else if (item.Content_Type === 'review') {\n    activity = pick(reviewActivities);\n    aspectRatio = '9:16';\n    // Determine review speaker from existing video prompt\n    soloCharacter = item.Video_Prompt && item.Video_Prompt.includes('Pleck:') ? 'pleck' : 'gorb';\n  } else if (item.Content_Type === 'snapshot_05' || item.Content_Type === 'snapshot_10') {\n    activity = pick(foodActivities);\n    aspectRatio = '4:5';\n  } else {\n    activity = pick(generalActivities);\n    aspectRatio = '4:5';\n  }\n  \n  // Pick fresh time of day (daytime only for intro)\n  const timeOptions = item.Content_Type === 'intro' \n    ? timesOfDay.filter(t => !['dusk', 'night'].includes(t))\n    : timesOfDay;\n  const timeOfDay = pick(timeOptions);\n  \n  return {\n    contentId: item.Content_ID,\n    contentType: item.Content_Type,\n    spotId: item.Spot_ID,\n    foodId: item.Food_ID || null,\n    timeOfDay: timeOfDay,\n    imagePrompt: buildImagePrompt(spot, activity, timeOfDay, aspectRatio, { food, soloCharacter }),\n    aspectRatio: aspectRatio\n  };\n});\n\nreturn [{\n  json: {\n    locationId: loc.Location_ID,\n    locationName: loc.Name,\n    sanitizedName: sanitizedName,\n    contentItems: contentItems,\n    totalItems: contentItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        1984
      ],
      "name": "Generate Prompts (Redo)",
      "id": "f9ce1d05-87d7-4eda-8758-d0c7a34dd513"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Generate Prompts (Redo)').first().json;\n\nconst gorbRef = 'https://drive.google.com/uc?export=view&id=1pH63y7S_m9n7VW0xgV-_9KQ7Bbgt0acy';\nconst pleckRef = 'https://drive.google.com/uc?export=view&id=1fTadAxxCe8Oz2z4OHRrMxOr6-hUHUD-z';\n\nconst contentItems = data.contentItems.map(item => {\n  // Determine which character references to use\n  let imageRefs;\n  if (item.contentType === 'intro' || item.contentType === 'gorb_story') {\n    imageRefs = [gorbRef];\n  } else if (item.contentType === 'pleck_story') {\n    imageRefs = [pleckRef];\n  } else if (item.contentType === 'review') {\n    // Review speaker determined by checking which character is solo in the prompt\n    imageRefs = item.imagePrompt && item.imagePrompt.includes('PLECK,') && !item.imagePrompt.includes('GORB,') ? [pleckRef] : [gorbRef];\n  } else {\n    // Snapshots use both\n    imageRefs = [gorbRef, pleckRef];\n  }\n\n  return {\n    contentType: item.contentType,\n    contentId: item.contentId,\n    filename: `${item.contentId}.png`,\n    spotId: item.spotId || null,\n    foodId: item.foodId || null,\n    prompt: item.imagePrompt,\n    aspectRatio: item.aspectRatio,\n    nanoBananaPayload: {\n      model: 'nano-banana-pro',\n      input: {\n        prompt: item.imagePrompt,\n        image_input: imageRefs,\n        aspect_ratio: item.aspectRatio,\n        resolution: '1K',\n        output_format: 'png'\n      }\n    }\n  };\n});\n\nreturn [{\n  json: {\n    locationId: data.locationId,\n    locationName: data.locationName,\n    sanitizedName: data.sanitizedName,\n    contentItems: contentItems,\n    totalImages: contentItems.length,\n    isRedo: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        1984
      ],
      "name": "Prepare Image Generation (Redo)",
      "id": "8ba39031-6c8b-4a4d-87d8-da410a5c9825"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.locationId }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE",
            "mode": "list",
            "cachedResultName": "Content",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Hjo2EeYM8Y6Q2T2QA3cUjDcmhziQTncE"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        1984
      ],
      "name": "Search Location Folder (Redo)",
      "alwaysOutputData": true,
      "id": "1569a350-992d-4475-ad71-79cf5fd1009b",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "contentItems",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2816,
        1984
      ],
      "name": "Split Images (Redo)",
      "id": "c1b9ff45-cbda-4a28-b387-1bff1ee46f98"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.contentItems.nanoBananaPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3040,
        1984
      ],
      "name": "Generate Image (Redo)",
      "id": "ccf147e3-1cd9-43a0-a6eb-5249bc6db099",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Split Images (Redo)').item.json.contentItems;\n\nreturn {\n  json: {\n    ...imageData,\n    taskId: $input.item.json.data.taskId,\n    imageStartTime: Date.now()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        1984
      ],
      "name": "Set Image Start Time (Redo)",
      "id": "fe70620e-9d84-4379-8e13-5919e2cf564c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nreturn {\n  json: {\n    contentType: item.contentType,\n    contentId: item.contentId,\n    filename: item.filename,\n    prompt: item.prompt,\n    aspectRatio: item.aspectRatio,\n    taskId: item.taskId,\n    imageStartTime: item.imageStartTime,\n    spotId: item.spotId,\n    foodId: item.foodId,\n    jokeId: item.jokeId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        1984
      ],
      "name": "Prep Status Check (Redo)",
      "id": "9ea4712e-4cad-4767-be0a-7c1cab473a64"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3712,
        1904
      ],
      "name": "Check Image Status (Redo)",
      "id": "83f1ceb0-23c3-4ffc-8875-dca742f5d334",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cvwEzZ8bMz0qcuom",
          "name": "Kie.api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const statusResponse = $input.item.json;\nconst state = statusResponse.data.state;\nconst createTime = statusResponse.data.createTime;\nconst elapsed = Date.now() - createTime;\nconst fiveMinutes = 5 * 60 * 1000;\n\nreturn {\n  json: {\n    taskId: statusResponse.data.taskId,\n    status: state,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && state !== 'success',\n    isFailed: state === 'failed',\n    isSuccess: state === 'success',\n    statusResponse: statusResponse.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        1904
      ],
      "name": "Merge Status Data (Redo)",
      "id": "e31c3100-5ffe-41e3-8dc4-94379f7e0b9f"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4160,
        1904
      ],
      "name": "Aggregate Status Results (Redo)",
      "id": "8316c9e8-5d89-43f6-b94e-108846192d8e"
    },
    {
      "parameters": {
        "jsCode": "const statusItems = $input.first().json.items;\nconst originalItems = $('Set Image Start Time (Redo)').all().map(i => i.json);\n\nconst items = statusItems.map(status => {\n  const original = originalItems.find(o => o.taskId === status.taskId);\n  const elapsed = original ? Date.now() - original.imageStartTime : 0;\n  const fiveMinutes = 5 * 60 * 1000;\n  \n  return {\n    ...status,\n    ...original,\n    elapsed: elapsed,\n    isTimedOut: elapsed > fiveMinutes && status.status !== 'success'\n  };\n});\n\nconst pendingItems = items.filter(i => !i.isSuccess && !i.isFailed && !i.isTimedOut);\n\nreturn [{\n  json: {\n    totalItems: items.length,\n    pendingCount: pendingItems.length,\n    items\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        1904
      ],
      "name": "Evaluate All Statuses (Redo)",
      "id": "8d97c178-14c0-4e11-b142-a4143bcdec98"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "still-pending",
              "leftValue": "={{ $json.pendingCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4608,
        1904
      ],
      "name": "IF (Still Pending) (Redo)",
      "id": "aa2636d8-e23b-4188-8e96-72118bd720db"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        2144
      ],
      "name": "Extract All Items (Redo)",
      "id": "c2ad429b-720f-4235-a877-e37dd152afc2"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5056,
        2224
      ],
      "name": "Wait 30s (Redo)",
      "webhookId": "a2a0bf9e-cdd8-409d-b9cb-37d13ecd7576",
      "id": "2113a21e-e205-4a5d-8fff-7d2f4d32909b"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst successful = data.items.filter(i => \n  i.isSuccess && \n  i.statusResponse.resultJson && \n  i.statusResponse.resultJson !== ''\n);\n\nconst failed = data.items.filter(i => \n  i.isFailed || \n  i.isTimedOut || \n  !i.statusResponse.resultJson || \n  i.statusResponse.resultJson === ''\n);\n\nreturn [{\n  json: {\n    successful,\n    failed,\n    successCount: successful.length,\n    failedCount: failed.length,\n    totalItems: data.items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        1808
      ],
      "name": "Split by Success (Redo)",
      "id": "bdfd24b7-eac9-45f6-a3a9-ede134bc5047"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-successful",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5056,
        1648
      ],
      "name": "IF (Any Successful) (Redo)",
      "id": "a9e9673f-82d2-4a02-abab-910534b0d53d"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success (Redo)').first().json;\nreturn data.successful.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        1488
      ],
      "name": "Extract Successful (Redo)",
      "id": "486bef11-c5ae-4244-acca-881d68a70143"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-failed",
              "leftValue": "={{ $('Split by Success (Redo)').first().json.failedCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5952,
        1984
      ],
      "name": "IF (Any Failed) (Redo)",
      "id": "b036640c-0670-458d-a75e-7dcf3c36d073"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Split by Success (Redo)').first().json;\nreturn data.failed.map(item => ({\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Redo'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        2048
      ],
      "name": "Prep Failed Updates (Redo)",
      "id": "b47314dd-9c99-4c19-b72c-f379022284e9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blotato_ID",
              "displayName": "Blotato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time_of_Day",
              "displayName": "Time_of_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Prompt",
              "displayName": "Image_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt",
              "displayName": "Video_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_Status",
              "displayName": "Post_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6400,
        2048
      ],
      "name": "Update Content - Redo (Redo)",
      "id": "660cfaa3-47f9-47e5-8b64-7eb160b0e32e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst resultJson = JSON.parse(item.statusResponse.resultJson);\nconst imageUrl = resultJson.resultUrls[0];\n\nreturn {\n  json: {\n    ...item,\n    imageUrl: imageUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        1488
      ],
      "name": "Prep Download (Redo)",
      "id": "9dc7fd82-0b30-412c-ad12-26e16798e270"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5952,
        1296
      ],
      "name": "Download Image (Redo)",
      "id": "347b0350-f074-4c82-ab8a-fccccc8a498d"
    },
    {
      "parameters": {
        "name": "={{ $('Prep Download (Redo)').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search Location Folder (Redo)').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6848,
        1488
      ],
      "name": "Upload Image to Drive (Redo)",
      "id": "0fcd9f92-9a77-41d9-8b1f-3ba14f0d82f3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageData = $('Prep Download (Redo)').item.json;\nconst uploadResult = $json;\nreturn {\n  json: {\n    contentId: imageData.contentId,\n    contentType: imageData.contentType,\n    filename: imageData.filename,\n    spotId: imageData.spotId || null,\n    foodId: imageData.foodId || null,\n    prompt: imageData.prompt || null,\n    driveUrl: `https://drive.google.com/uc?export=view&id=${uploadResult.id}`,\n    webViewLink: uploadResult.webViewLink\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        1504
      ],
      "name": "Collect Image Result (Redo)",
      "id": "642b40c6-3649-43fa-89d7-8540067c0f50"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nreturn {\n  json: {\n    Content_ID: item.contentId,\n    Image_Status: 'Review',\n    Image_Prompt: item.prompt || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        1504
      ],
      "name": "Prep Content Update (Redo)",
      "id": "0090305b-eb3d-4fdb-a05a-89a9a92f1953"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192648937,
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content_ID": "={{ $json.Content_ID }}",
            "Image_Status": "={{ $json.Image_Status }}",
            "row_number": 0,
            "Image_Prompt": "={{ $json.Image_Prompt }}"
          },
          "matchingColumns": [
            "Content_ID"
          ],
          "schema": [
            {
              "id": "Content_ID",
              "displayName": "Content_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spot_ID",
              "displayName": "Spot_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food_ID",
              "displayName": "Food_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blotato_ID",
              "displayName": "Blotato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time_of_Day",
              "displayName": "Time_of_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Polaroid_Caption",
              "displayName": "Polaroid_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Prompt",
              "displayName": "Image_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_Prompt",
              "displayName": "Video_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_Status",
              "displayName": "Image_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_Status",
              "displayName": "Video_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_Status",
              "displayName": "Post_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6400,
        1504
      ],
      "name": "Update Content - Review (Redo)",
      "id": "e8563fc1-5287-42cf-9a5c-fc7474b14624",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        6624,
        1488
      ],
      "name": "Merge Success and Failed (Redo)",
      "id": "6898b7a9-8dcc-4fc6-8526-e9826dbc5e89"
    },
    {
      "parameters": {
        "jsCode": "const splitData = $('Split by Success (Redo)').first().json;\nconst locationId = $('Generate Prompts (Redo)').first().json.locationId;\n\nreturn [{\n  json: {\n    Location_ID: locationId,\n    Status: 'Images_Review',\n    successCount: splitData.successCount,\n    failedCount: splitData.failedCount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6848,
        1696
      ],
      "name": "Prep Location Update (Redo)",
      "id": "416fda18-9089-4b03-836c-c66b56e8960e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ofrwMwcPpvPZQRab03bcdHGhLWrqcF9cn6FC0p4naGU",
          "mode": "list",
          "cachedResultName": "ai_aliens_master"
        },
        "sheetName": {
          "__rl": true,
          "value": 143205348,
          "mode": "list",
          "cachedResultName": "Locations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location_ID": "={{ $json.Location_ID }}",
            "Status": "={{ $json.Status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Location_ID"
          ],
          "schema": [
            {
              "id": "Location_ID",
              "displayName": "Location_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather",
              "displayName": "Weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Color_Palette",
              "displayName": "Color_Palette",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camera_Angle",
              "displayName": "Camera_Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Day",
              "displayName": "Sky_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sky_Night",
              "displayName": "Sky_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Day",
              "displayName": "Lighting_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lighting_Night",
              "displayName": "Lighting_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Day",
              "displayName": "Ambient_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ambient_Night",
              "displayName": "Ambient_Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Music",
              "displayName": "Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7072,
        1696
      ],
      "name": "Update Location - Images_Review (Redo)",
      "id": "10a41cbd-d4d5-463f-8965-af9cc4c15c5a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbV7nYKHgNGjsvXM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "richiecoy@gmail.com",
        "toEmail": "richiecoy@gmail.com",
        "subject": "=AI Aliens - Redo Images Ready for Review",
        "html": "=Redo images generated for {{ $('Generate Prompts (Redo)').first().json.locationName }}.<br><br>Successful: {{ $json.successCount }}<br>Still failed (marked for redo): {{ $json.failedCount }}<br><br>Review and approve in the Content tab.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        7296,
        1696
      ],
      "name": "Email - Redo Images Ready",
      "id": "becaf770-d0f1-4b89-8f0d-9cd93f92c692",
      "webhookId": "bf4c7d60-16c8-4d5d-b668-d1bfcf042310",
      "credentials": {
        "smtp": {
          "id": "8alovuwdyCQhOA4Q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.filename }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search Location Folder (Redo)').first().json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6176,
        1296
      ],
      "name": "Find Existing File (Redo)",
      "alwaysOutputData": true,
      "id": "dd2e2b7a-f41c-4568-97d1-7fbbe81e41c7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6400,
        1296
      ],
      "name": "Delete Existing File (Redo)",
      "id": "5e73516a-b030-4a9c-94c5-b095cffb1cee",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hv4DRx5bzGlEDlfc",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Inside Loop Over Items - only one item per iteration\nconst downloadData = $('Download Image (Redo)').first();\nconst prepData = $('Prep Download (Redo)').first().json;\n\nreturn {\n  json: {\n    ...prepData\n  },\n  binary: downloadData.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        1296
      ],
      "name": "Restore Binary (Redo)",
      "id": "ca5afd7c-a2fb-4859-9230-9349f5219f26"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5728,
        1488
      ],
      "id": "8a5ba29e-77f0-4529-a6d1-e9975ee9de42",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        1408
      ],
      "id": "3fcd91b9-2630-483b-a6f1-8ad069d9512b",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Style_Approved Locations": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images_Review Locations": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Evaluate Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Locations": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Email - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Initial Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Initial Run": {
      "main": [
        [
          {
            "node": "Get Spots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Redo Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spots": {
      "main": [
        [
          {
            "node": "Get Foods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Foods": {
      "main": [
        [
          {
            "node": "Get Dialogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dialogue": {
      "main": [
        [
          {
            "node": "Get Time of Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time of Day": {
      "main": [
        [
          {
            "node": "Get Photo Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompts (Initial)": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Generate Titles & Captions (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Titles & Captions (Claude)": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Activities": {
      "main": [
        [
          {
            "node": "Generate Prompts (Initial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Content Items": {
      "main": [
        [
          {
            "node": "Create Content Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Split Content Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Used Updates": {
      "main": [
        [
          {
            "node": "Extract Spot Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Food Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Spot Updates": {
      "main": [
        [
          {
            "node": "Mark Spots Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Food Updates": {
      "main": [
        [
          {
            "node": "Mark Foods Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Content Rows": {
      "main": [
        [
          {
            "node": "Prepare Used Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Spots Used": {
      "main": [
        [
          {
            "node": "Wait for Marks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Foods Used": {
      "main": [
        [
          {
            "node": "Wait for Marks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Marks": {
      "main": [
        [
          {
            "node": "Search Location Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Location Folder": {
      "main": [
        [
          {
            "node": "Prepare Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Generation": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Set Image Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Status Check": {
      "main": [
        [
          {
            "node": "Check Image Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Status": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data": {
      "main": [
        [
          {
            "node": "Aggregate Status Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Status Results": {
      "main": [
        [
          {
            "node": "Evaluate All Statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate All Statuses": {
      "main": [
        [
          {
            "node": "IF (Still Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Start Time": {
      "main": [
        [
          {
            "node": "Prep Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Drive": {
      "main": [
        [
          {
            "node": "Collect Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content Update": {
      "main": [
        [
          {
            "node": "Update Content - Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Review": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Location Update": {
      "main": [
        [
          {
            "node": "Update Location - Images_Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Location - Images_Review": {
      "main": [
        [
          {
            "node": "Email - Images Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Image Result": {
      "main": [
        [
          {
            "node": "Prep Content Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Still Pending)": {
      "main": [
        [
          {
            "node": "Extract All Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split by Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Items": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Success": {
      "main": [
        [
          {
            "node": "IF (Any Successful)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF (Any Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Successful)": {
      "main": [
        [
          {
            "node": "Extract Successful",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Failed)": {
      "main": [
        [
          {
            "node": "Prep Failed Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prep Failed Updates": {
      "main": [
        [
          {
            "node": "Update Content - Redo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Prep Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Successful": {
      "main": [
        [
          {
            "node": "Prep Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Redo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prep Location Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Redo Content": {
      "main": [
        [
          {
            "node": "Get Location (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Location (Redo)": {
      "main": [
        [
          {
            "node": "Get Spots (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spots (Redo)": {
      "main": [
        [
          {
            "node": "Get Foods (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Foods (Redo)": {
      "main": [
        [
          {
            "node": "Get Photo Activities (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Activities (Redo)": {
      "main": [
        [
          {
            "node": "Get Time of Day (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time of Day (Redo)": {
      "main": [
        [
          {
            "node": "Generate Prompts (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompts (Redo)": {
      "main": [
        [
          {
            "node": "Search Location Folder (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Generation (Redo)": {
      "main": [
        [
          {
            "node": "Split Images (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Location Folder (Redo)": {
      "main": [
        [
          {
            "node": "Prepare Image Generation (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images (Redo)": {
      "main": [
        [
          {
            "node": "Generate Image (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Redo)": {
      "main": [
        [
          {
            "node": "Set Image Start Time (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Start Time (Redo)": {
      "main": [
        [
          {
            "node": "Prep Status Check (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Status Check (Redo)": {
      "main": [
        [
          {
            "node": "Check Image Status (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Status (Redo)": {
      "main": [
        [
          {
            "node": "Merge Status Data (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data (Redo)": {
      "main": [
        [
          {
            "node": "Aggregate Status Results (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Status Results (Redo)": {
      "main": [
        [
          {
            "node": "Evaluate All Statuses (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate All Statuses (Redo)": {
      "main": [
        [
          {
            "node": "IF (Still Pending) (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Still Pending) (Redo)": {
      "main": [
        [
          {
            "node": "Extract All Items (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split by Success (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Items (Redo)": {
      "main": [
        [
          {
            "node": "Wait 30s (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (Redo)": {
      "main": [
        [
          {
            "node": "Prep Status Check (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Success (Redo)": {
      "main": [
        [
          {
            "node": "IF (Any Successful) (Redo)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF (Any Failed) (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Successful) (Redo)": {
      "main": [
        [
          {
            "node": "Extract Successful (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Successful (Redo)": {
      "main": [
        [
          {
            "node": "Prep Download (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download (Redo)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image (Redo)": {
      "main": [
        [
          {
            "node": "Find Existing File (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Drive (Redo)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Image Result (Redo)": {
      "main": [
        [
          {
            "node": "Prep Content Update (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content Update (Redo)": {
      "main": [
        [
          {
            "node": "Update Content - Review (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Review (Redo)": {
      "main": [
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Any Failed) (Redo)": {
      "main": [
        [
          {
            "node": "Prep Failed Updates (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prep Failed Updates (Redo)": {
      "main": [
        [
          {
            "node": "Update Content - Redo (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content - Redo (Redo)": {
      "main": [
        [
          {
            "node": "Merge Success and Failed (Redo)",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Success and Failed (Redo)": {
      "main": [
        [
          {
            "node": "Prep Location Update (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Location Update (Redo)": {
      "main": [
        [
          {
            "node": "Update Location - Images_Review (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Location - Images_Review (Redo)": {
      "main": [
        [
          {
            "node": "Email - Redo Images Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing File (Redo)": {
      "main": [
        [
          {
            "node": "Delete Existing File (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing File (Redo)": {
      "main": [
        [
          {
            "node": "Restore Binary (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary (Redo)": {
      "main": [
        [
          {
            "node": "Upload Image to Drive (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Collect Image Result (Redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image (Redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Style_Approved Locations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Images_Review Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "679fede3-827e-47de-a185-867859857c06",
  "meta": {
    "instanceId": "daba14a88550d0304eb819e927ffe087dff267675394753b32278f2dd7342718"
  },
  "id": "QQ4815iIONcMSDlm",
  "tags": [
    {
      "updatedAt": "2026-01-21T17:38:45.151Z",
      "createdAt": "2026-01-21T17:38:45.151Z",
      "id": "CEWpWHWat0OoEcmi",
      "name": "Gorb & Pleck"
    },
    {
      "updatedAt": "2026-01-28T20:06:51.435Z",
      "createdAt": "2026-01-28T20:06:51.435Z",
      "id": "sdchqjcsR3ONuXkQ",
      "name": "v3"
    }
  ]
}
